<a class="yButton bottom left" href="/schedule.html" style="z-index: 10001;">
  <div class="yButtonBackground" style="background-color: rgb(99, 115, 94);"></div>
  <div class="yButtonWave" style="border-color: rgb(99, 115, 94); color: rgb(99, 115, 94);"></div>
  <div class="yButtonText">Онлайн-запись</div>
  <div class="yButtonIcon"></div>
</a>