extends layouts/main.pug

block content
    section.content
        h2.content__title Классы

        h4.content__subtitle Хатха-йога 
        p.content__text.
          Почти все, что вы знаете о йоге - это хатха-йога. Это практика, во время которой вы учитесь управлять своим сознанием и создаёте здоровое тело. Вас ждёт физическая нагрузка с использованием «поз йоги» - асаны, дыхания, концентрации внимания и расслаблением в конце. Уровень сложности, темп и настроение зависят от преподавателя, тренировки направлены на то, чтобы выровнять тело, освободиться от зажимов, способствуя нормальному функционированию всех тканей, органов и систем организма. Проще говоря, выбирайте, кто будет вам говорить, что делать, думайте либо о сколиозе, целлюлите и балансируй или будь уже на пути к блаженству ума и духовной гармонии. Температура на классах в зависимости от стиля преподавателя: от 30 до 40°С.

        h4.content__subtitle Бикрам йога
        p.content__text.
          Бикрам йога - создана Бикрамом Чоудхури 40 лет назад для восстановления после травм, а теперь это комплекс для улучшения качества жизни и тела. Это классический класс горячей йоги, состоящий из 26 поз и 2 дыхательных упражнений - единых во всем мире.
          br
          Каждая поза выполняется дважды и подготавливает тело к следующей, а их последовательность увеличивает приток кислорода и улучшает выведение токсинов из организма
          br
          Вы проработаете все мышцы, сухожилия, связки, суставы, органы, железы и нервы. Потеряете за 90 минут около 800 калорий и от 0,5 до 1 литра воды.

        h4.content__subtitle Горячий пилатес
        p.content__text.
          Один из видов метода, созданного Йозефом Пилатесом в начале 20 века для восстановления тела, лично излечивший его от астмы, рахита, малокровия. Главное - медленно, размеренно и плавно, а дальше уже детали. Пилатес основан на синтезе йоги и гимнастики и в отличии от других практик работает с малой мускулатурой. 
          br
          Вы не тренируете отдельно спину, пресс или ноги, вы тренируете все в едином комплексе, делая вдох перед началом упражнения, а выдох во время выполнения комплекса. Пилатес в горячем микроклимате более эффективен и безопасен, потому что ваши связки, фасции и мышцы уже подготовлены к вытяжению. А обогащение легких и кислородный обмен происходит быстрее, благодаря ускорению кровообращению за счёт температуры и влажности. Температура на практике 30 °С

        h4.content__subtitle Хот виньясы
        p.content__text.
          Аштанга-виньяса йога - одно из направлений хатхи-йоги.
          br
          Виньяса - это динамическая связка с дыханием, которая соединяет асаны между собой. Виньяса повторяется из раза в раз, делая практику более интенсивной и сильно разогревающей тело изнутри!
          br
          Практика имеет корни военного воспитания, поэтому более всех развивает выносливость. Вы постоянно находитесь в движении, поэтому данная йога для физически развитых людей. 
          br
          В горячем микроклимате нагрузка увеличивается в разы.
          br
          Согласно хранителю метода - Паттабхи Джойсу, йогу не надо приспосабливать к своей слабости и несовершенству, а наоборот, вы - практикующий должны развить себя до идеалов йоги.

        h4.content__subtitle Hot Workout
        p.content__text.
          Тренировка, где основной акцент делается на работу с собственным весом и развитием силы и выносливости.
          br
          Каждое упражнение делается в несколько подходов с промежуточным отдыхом, и обязательно есть разминка и растяжка. Взбодрит на неделю вперед, оставит приятное послевкусие в виде тянущей, но приятной боли в мышцах, а при посещении 2 х классов в неделю на протяжении месяца гарантировано подарит вам абсолютно новую форму тела с косыми мышцами пресса, прокачанными ягодицами и много энергии.

        h4.content__subtitle Йога до позвоночника
        p.content__text.
          Самый бережный класс. Безопасные асаны и разогретое тело - верный способ практиковать бережно и без лишнего давления на больные участки. Это классическая хатха-йога совмещающая концентрацию, дыхательные практики и безопасные устойчивые положения тела. Особое внимание уделяется позвоночнику, шейному и поясничному отделам. Из-за желания получить скорейший результат, практикующие порой злоупотребляют тем, что «нагружаются» беспощадно , причиняя себе страдания и зарабатывая травмы, а главный каркас и пружину тела нужно беречь. Класс подойдёт как и уже имеющим проблемы и травмы, так и активно занимающимся для углубления знаний и улучшения качеств практики.

        h4.content__subtitle Цигун
        p.content__text.
          Древняя практика, имеющая даосский и буддистские корни.
          br
          Цигун похож не то на танец, не на бой, плавно перемещая энергию по телу при помощи движений и дыхания. Вас уже ждут: Журавль выходит из воды, Дракон танцует, Гусь вытягивает шею. Практики цигуна включают четыре вида обучения: динамическое, статическое, медитативное и виды деятельности, требующие внешних средств. 
          br
          Регулярная практика позволяет увеличить жизненную энергию, повысить иммунитет, а значит, и уровень здоровья, продлить активную жизнь и молодость, проявить скрытые резервы организма, приобрести особые способности и устойчивость к стрессовым ситуациям!
          br
          Для достижения эффекта необходима ежедневная неукоснительная работа.

        h4.content__subtitle Кундалини
        p.content__text.
          Одно из направлений в йоге, относящихся к быстрым практикам для работающего человека с наиболее сильным эффектом.
          br
          Полминуты Крийи равны году естественного духовного развития.
          br
          Кундалини с санскрита "свернутая в спираль, как спящая змея, сила, находящаяся в укромном месте", поэтому задача стоит эту силу найти и ощутить ее мощь. Особое значение отдаётся дыхательным техникам.

        h4.content__subtitle Структура класса: 
        p.content__text.
          Пение мантры для концентрации.
          br
          Пранаямы и вытяжения.
          br
          Основная Крийа.
          br
          Глубокая Шавасана.
          br
          После практики Кундалини йоги намного чаще возникает огромный прилив сил, с которым хочется свернуть горы и решить все надоевшие в жизни ситуации.  Температура класса: 30 °С

        h4.content__subtitle Ом медитация
        p.content__text.
          "OM"- медитация - это звуковая практика, которая частично относится к категории тонирования. Это создание расширенных вокальных звуков на одном гласном, погружаясь в звук и испытывая его эффекты в разных частях тела. Это простая, но мощная техника, доступная каждому, так как все 1,5 часа вы сидите и поёте букву "О" и "М" под симулятор звучания индийской танпуры. "ОМ" - первая вибрация земли, которая буквально массирует тело изнутри, помогает сосредоточиться и расслабиться, высвободить отрицательные эмоции, снизить стресс, улучшить выносливость и концентрацию. Тонирование синхронизирует мозговые волны и помогает снять напряжение в течение нескольких минут.