extends layouts/main.pug

block content
  section.content
    
    .popup
      .popup__bg
      .popup__content

    h2.content__title КЛАССЫ
    div.teachers

      a.teachers__teacher.teachers__teacher_hide-name
        .teachers__img-wrap
          img.teachers__img( src="/assets/classes/bikram.jpg" )
        .teachers__teacher__meta
          p.teachers__name.teachers__name_hide Bikram Yoga <small>Температура в зале — 40°</small>
          .teachers__teacher__desc
            p.teachers__teacher__text Основатель этого  направления - Бикрам Чоудхури, который является уроженцем Калькутты. 40 лет назад он создал эту практику  для восстановления после травм и придумал горячие комнаты для практики йоги в Японии и Америке. А теперь это комплекс для улучшения качества жизни и тела по всему миру.  Классический класс горячей йоги, состоящий из 26 поз и 2 дыхательных упражнений. Вы можете оказаться на бикрам классе в Сиднее, Токио, Лондоне, Сургуте – кругом вы встретитесь с одной и той же последовательностью строго по таймингу, нескончаемым монологом преподавателя и без музыкального сопровождения.  Многие сторонники аутентичной йоги говорят, что бикрам похож на физкультуру, однако фанаты бикрам йоги без проблем убедят вас, что это не только физический класс, но и глубокая медитация.
            p.teachers__teacher__text В процессе занятий постепенно увеличивается нагрузка на организм, благодаря чему улучшается кровоснабжение, повышается температура тела, а мышцы становятся более эластичными. 
            p.teachers__teacher__text На практике Бикрам вы проработаете все мышцы, сухожилия, связки, суставы, органы, железы и нервы. А также потеряете за 90 минут около 800 калорий и от 0,5 до 1 литра  воды и токсинов!


      a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/classes/hotyoga36.jpg" )
        .teachers__teacher__meta
          p.teachers__name.teachers__name_hide Hot Yoga 36 <small>Температура в зале — 36°</small>
          .teachers__teacher__desc
            p.teachers__teacher__text Hot Yoga 36 - уникальная в своём роде  авторская последовательность, разработанная в нашей студии специально для горячего зала. Изначально горячий зал был придуман Бикрамом Чоудхури, который на основе асан Хатха йоги собрал свою авторскую последовательность с одноименным названием «Бикрам». Так что горячая йога до сих пор у многих ассоциируется лишь с этой практикой. В России мы запустили первый тичерс-курс по горячей йоге и на основе опыта в соавторстве со знаменитыми  преподавателями разных направлений создали свою последовательность, идеально подходящую для горячего зала и русского менталитета.
            p.teachers__teacher__text Также как и многие другие последовательности, <strong>Hot Yoga 36</strong> создана на базе древнейшей системы Хатха-йоги и знаний особенностей организма в горячем зале. Занятия проводятся при температуре 36°С с 40% влажностью. В таких условиях при регулярных практиках достигается максимальный эффект от занятий — достоверное снижение периферического сосудистого сопротивления, снижение уровня общего холестерина в организме, выведение токсинов, повышается выносливость и стрессоустойчивость, улучшается эмоциональный настрой.
            p.teachers__teacher__text Данная последовательность горячей йоги может практиковаться людьми любого возраста. Специальная физическая подготовка также не нужна - совершенствование и укрепление тела происходит плавно и постепенно.


      a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/classes/vajra.jpg" )
        .teachers__teacher__meta
          p.teachers__name.teachers__name_hide Варджа йога или Корректный подход к позвоночнику (КПП) <small>Температура в зале — 36°</small>
          .teachers__teacher__desc
            p.teachers__teacher__text Это личная разработка Анатолия Пахомова, основанная на классическом выполнении асан в древнеиндийских школах. В нашей школе класс ведут его прямые последователи.
            p.teachers__teacher__text Специфика этого направления заключается в отсутствии скручиваний, глубоких прогибов и наклонов. Она подойдет для людей, которые основную часть времени проводят за компьютером или в другом положении, негативно влияющем на позвоночник. Техническая сторона йоги КПП основана на трёх принципах — вытяжение, укрепление, расслабление. Вытягивание осуществляется при помощи мышц, которые расположены вокруг позвоночника. Укрепление происходит в процессе выполнения асан, которые оказывают влияние на позвоночник и его отдельные сегменты. Выполнение практик делает суставы гибкими и эластичными, а околопозвоночную мускулатуру - сильной.
            p.teachers__teacher__text Расслабление во время релаксации и созерцательных техник, которые выполняются одновременно с асанами. Сосредоточенность внимания и осознание – основные факторы, от которых напрямую зависит эффективность методики. 


      a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/classes/spineyoga.jpg" )
        .teachers__teacher__meta
          p.teachers__name.teachers__name_hide Йога позвоночника <small>Температура в зале — 36°</small>
          .teachers__teacher__desc
            p.teachers__teacher__text Такая же бережная практика для здоровья позвоночника, как система «Варджа йоги» (КПП – корректный подход к позвоночнику).  Однако йога позвоночника - это эклектика различных современных  реабилитационных методик и древних тибетских практик. Практика плавная и медленная. Особое внимание уделяется всем особенностям, которые  многие из нас уже получили в ходе своей жизни и деятельности. Грыжи, протрузии, сколиозы - это не приговор. Аккуратное воздействие с повреждёнными участками, общий тонус и вытяжение всего позвоночника, укрепление всего позвоночного столба и снятие огромного напряжения с поясницы. Минимизируем скрутки и наклоны с вытяжениями - для сохранения естественности в позвоночном столбе и межпозвонковых дисках. Мягкая практика направлена на восстановление и внутренние аспекты внимания, дыхания, концентрации. 
            p.teachers__teacher__text Если вы знаете о своих особенностях тела обратитесь к тренеру перед занятием, чтобы получить дополнительные пожелания. 


      a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/classes/hatha.jpg" )
        .teachers__teacher__meta
          p.teachers__name.teachers__name_hide Hot Hatha <small>Температура в зале — 40°</small>
          .teachers__teacher__desc
            p.teachers__teacher__text Почти все, что вы знаете о йоге - это хатха-йога. Это древняя практика, во время которой вы учитесь управлять своим сознанием и создаёте здоровое тело. Вас ждёт физическая нагрузка с использованием «поз йоги» - асан, дыхание, концентрация внимания и расслабление (шавасана) в конце. Уровень сложности, темп и настроение зависят от преподавателя, тренировки направлены на то, чтобы выровнять тело, освободиться от зажимов, способствуя нормальному функционированию всех тканей, органов и систем организма. Проще говоря, выбирайте, кто будет вам говорить, что делать. Находите преподавателя по душе и развивайтесь. С помощью регулярных занятий хатха-йоги можно решить множество проблем: начиная от сколиоза и целлюлита, заканчивая духовной гармонией и позитивным психоэмоциональным состоянием. Температура на классах в зависимости от стиля преподавателя: от 36 до 40°С.

      a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/classes/jivamukti.jpg" )
        .teachers__teacher__meta
          p.teachers__name.teachers__name_hide Jivamukti Yoga <small>Температура в зале — 36°</small>
          .teachers__teacher__desc
            p.teachers__teacher__text Слово "дживамукти" с санскрита переводится как "душа, освободившаяся от оков при жизни". В другой интерпретации название этой практики трактуется так: "человек, на которого больше не влияют законы кармы". Это западное направление йоги, в основе которого практика виньяс Паттабхи Джойса. Они состоят из последовательного чередования асан Хатха-йоги - переход из одной асаны к другой синхронизируется с дыханием.  Основатели Дживамукти-йоги – супруги Дэвид Лайф и Шэрон Гэннон. В конце 1970-х они долго жили в Индии, перенимая опыт и традиции Востока.
            p.teachers__teacher__text Учение Дживамукти-йоги особое внимание уделяет творческому подходу. Основатели этого направления подчеркивают, что именно через творчество человек обретает способность возвыситься над материальным и оторваться от повседневной суеты. В практике есть особая часть: пение мантр под гармонику, а также растирание особых точек специальными ароматными кремами до или после практики. Каждый месяц посвящается определенной теме из философии, которую раскрывает преподаватель перед началом класса.


      a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/classes/universal.jpg" )
        .teachers__teacher__meta
          p.teachers__name.teachers__name_hide Универсальная йога <small>Температура в зале — 36°</small>
          .teachers__teacher__desc
            p.teachers__teacher__text Эффективный и невероятно мощный универсальный стиль йоги был разработан Мастером йоги Андреем Лаппой. На сегодняшний день он является одним из самых опытных и квалифицированных учителей йоги во всем СНГ.
            p.teachers__teacher__text Универсальная Йога – это система йоги, которая содержит в себе методы практического развития на уровне физической, энергетической, психической, ментальной, волевой и кармической оболочек человеческого существа и подразумевает полную осознанность практикующих.  Эта тренировочная система вобрала в себя всё лучшее из самых сильных и интересных школ йоги, таких как Аштанга Виньяса, Айенгар-йога, Тибетская Гималайская йога, даосские стили, а также авторские методики, не встречающиеся ни в одной другой системе.
            p.teachers__teacher__text Занимаясь Универсальной йогой, вы освоите малоизвестные асаны для рук, а также почувствуете сбалансированный энергетический эффект после выполнения тренировочных последовательностей, гармонично выстроенных в пространстве.
            p.teachers__teacher__text Система универсальной йоги  способна удовлетворять запросы каждого — от новичка до активно практикующего. 


      a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/classes/hotbarre.jpg" )
        .teachers__teacher__meta
          p.teachers__name.teachers__name_hide Hot barre <small>Температура в зале — 36°</small>
          .teachers__teacher__desc
            p.teachers__teacher__text Barre — система физических упражнений, основанная на сочетании балетных упражнений, упражнений функционально-силового тренинга,  классического пилатеса и йоги. Балетный станок в студии на Васильевском острове используется на тренировках в качестве опоры во время работы над мышцами ног, ягодиц, пресса. 
            p.teachers__teacher__text Это направление представляет собой силовые тренировки, направленные на все группы мышц. Прорабатывается и прокачивается каждая мышца, чего нельзя добиться, занимаясь только на тренажерах, либо только йогой. Благодаря занятиям барре, мышцы растягиваются, становятся крепкими, а тело выглядит подтянутым и упругим. Ко всему прочему, вы приобретете роскошную осанку балерины, а также выносливость и гибкость.


      a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/classes/powerhatha.jpg" )
        .teachers__teacher__meta
          p.teachers__name.teachers__name_hide Power Hatha <small>Температура в зале — 40°</small>
          .teachers__teacher__desc
            p.teachers__teacher__text В отличие  от Хатха-йоги, на практике Power Hatha вас ждёт более мощная интервальная нагрузка на все группы мышц.  Проще говоря, это силовой йога класс, где будут использованы мощные комплексы на ваш пресс и ягодицы. Не удивляйтесь, что порой класс напоминает урок физкультуры, ведь планки-планки-чатуранги это наше все, йоговское.


      a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/classes/vinyasa.jpg" )
        .teachers__teacher__meta
          p.teachers__name.teachers__name_hide Vinyasa flow <small>Температура в зале — 36°</small>
          .teachers__teacher__desc
            p.teachers__teacher__text Йога «в потоке» или «медитация в движении», где асаны синхронизированы с дыханием и плавно перетекают одна в другую. Последовательности Vinyasa Flow всегда выстроены «волнами», сочетающими напряжение и расслабление, даже позвоночник движется волнообразно. Непрерывность практики заставляет ученика осознавать каждое движение, не давая времени на возвращение к мысленной суете. Кликайте в расписании описание класса, чтоб узнать, чем виньясы отличаются друг от друга у разных преподавателей. Вкратце: у Дарьи Кондратьевой класс интенсивный и непрерывный (подходит больше для истинных профи), у Ины Печенька – есть время для вариантивности и индивидуальной работы с собой (стартовая точка многих новичков).


      a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/classes/workout.jpg" )
        .teachers__teacher__meta
          p.teachers__name.teachers__name_hide Hot workout <small>Температура в зале — 36°</small>

          .teachers__teacher__desc
            p.teachers__teacher__text Утренний воркаут с Сергеем Дьячковым, это комплекс эксцентрических упражнений на включение и укрепление мышц и сухожилий. Восстановление правильной биомеханики всего тела. Комплекс включает в себя ряд упражнений из:
            ul
              li классической Hatha Yoga
              li методики доктора Блюма
              li системы Исцеляющий Импульс Голтиса
              li суставной гимнастики Сукшма Вьяямы
              li упражнений для живота из крия-йоги
              li дыхательных и энергетических техник из йоги и цигун
            p.teachers__teacher__text Хотите почувствовать себя на 100% с самого утра? Эта практика — то, что нужно!


      a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/classes/hotstretching.jpg" )
        .teachers__teacher__meta
          p.teachers__name.teachers__name_hide Hot stretching <small>Температура в зале — 36°</small>
          .teachers__teacher__desc
            p.teachers__teacher__text Стретчинг — один из самых гармоничных видов фитнеса, в переводе с английского «стретч» - тянуть. Занятия весьма энергозатратны и развивают ваш внутренний слой, фасции и сухожилия. Затронуть эти области тела нельзя больше ничем, кроме растяжки, йоги и пилатеса. Ваш успех в реальных силовых и жиросжигающих тренировках во многом зависит от растяжки, так как она обеспечивают нужный баланс в теле.
            p.teachers__teacher__text Растяжку в разных стилях в наших студиях проводят настоящие балерины и мастера спорта по гимнастике.
            p.teachers__teacher__text Почему Hot? Все потому, что практика проходит в нагретом зале, а это превращает обычную растяжку в удовольствие с быстрым, но совершенно безопасным результатом без травм, болей и мучений. 


      a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/classes/infernopilates.jpg" )
        .teachers__teacher__meta
          p.teachers__name.teachers__name_hide Hot inferno pilates <small>Температура в зале — 36°</small>
          .teachers__teacher__desc
            p.teachers__teacher__text Hot Inferno Pilates — силовая интервальная тренировка под зажигательную музыку в стиле шейпинга 80х. Один из тех классов, которые максимально быстро приводят фигуру в форму, а видимый результат гарантирован уже после третьего посещения практики. Это мировая система, разработанная нашей современницей  - американкой Габриэллой Уолтерс, специально для горячих залов.
            p.teachers__teacher__text Система этой практики помогает прорабатывать все мышцы тела, фокусируясь на 4х слоях мышц брюшной полости, которые удерживают внутренние органы. 
            p.teachers__teacher__text Интересный факт! После этого класса мышцы сжигают на свое восстановление столько же калорий, как и во время него.
            p.teachers__teacher__text Разработан для любого типа тела и возраста. Без нагрузки на суставы. Весело, безопасно, полезно. 


      a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/classes/cosmic.jpg" )
        .teachers__teacher__meta
          p.teachers__name.teachers__name_hide Free flow <small>Температура в зале — 36°</small>
          .teachers__teacher__desc
            p.teachers__teacher__text Это 2 авторских последовательности Ивана Туманова, которые чередуются от класса к классу. Поэтому мы рекомендуем приходить на эти классы регулярно по расписанию, чтоб прочувствовать их наиболее целостно и решить, подходят вам эти занятия или нет. Последовательность Free Flow создана на базе классической Аштанга-Виньясы, Хот Виньясы и асан Хатха йоги, направленные на гибкость, вытяжение тела и успокоение ума. Темп средний. Даже медленный: динамика предшествует статике. В процессе практики используются следующее инструменты: дыхание со звуком, бандхи, фокус взгляда (если об этом не знаете - узнаете на занятии). Free Flow, как и любая виньяса это прежде всего йога в потоке и медитация в движении, где асаны синхронизированы с дыханием и плавно перетекают одна в другую. Последовательность выстроена «волнами», сочетающими напряжение и расслабление, даже позвоночник движется волнообразно. Непрерывность практики заставляет ученика осознавать каждое движение, не давая времени на возвращение к мысленной суете.


      a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/classes/cigun.jpg" )
        .teachers__teacher__meta
          p.teachers__name.teachers__name_hide Hot цигун <small>Температура в зале — 30°</small>
          .teachers__teacher__desc
            p.teachers__teacher__text Практика упражнений Цигун уходит своими истоками в глубину веков и неразрывно связана с даосским учением.
            p.teachers__teacher__text Цигун - это комплекс традиционных упражнений, возникший на основе даосской алхимии и отчасти буддийских психопрактик, выполняемый преимущественно с оздоровительными и терапевтическими целями.
            p.teachers__teacher__text Заниматься цигун может каждый, так как противопоказаний практически не существует: при особых состояниях мастер цигун может подобрать для ученика специальные комплексы упражнений, в том числе ориентированные на лечение различных заболеваний.
            p.teachers__teacher__text Обращаем внимание, что эта практика — одна из немногих, что проводится в наших студиях при температуре 30 градусов. 


      a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/classes/hotyogabeat.jpg" )
        .teachers__teacher__meta
          p.teachers__name.teachers__name_hide Hot Yoga Beat <small>Температура в зале — 40°</small>
          .teachers__teacher__desc
            p.teachers__teacher__text Авторская последовательность асан Хатха йоги под современный битовый плейлист в магическом свете цветных прожекторов, софитов и свечей. Возможно, вы полностью пересмотрите свой взгляд на йогу, если до сих пор воспринимали эту практику исключительно как вдумчивое и спокойное занятие. Ведь  наша студия транслирует идею, что йога - не догма, она как рок-н-ролл: поток и гибкость во всем. Синхронизация темпа дыхания и музыки, мощная проработка всех мыщц и переключение мыслей. В конце – глубокая расслабляющая шавасана, напоминающая полноценную йога-нидру.


      a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/classes/ishvara.jpg" )
        .teachers__teacher__meta
          p.teachers__name.teachers__name_hide Ишвара йога <small>Температура в зале — 36°</small>
          .teachers__teacher__desc
            p.teachers__teacher__text Грамотный и наиболее безопасный подход (наравне с КПП и йогой позвоночника) к практике асан хатха-йоги разработал Анатолий Зенченко. Автор метода уверяет, что каждый человек может выполнить любую асану. Для этого не нужно тянуть мышцы и раскрывать суставы, а достаточно научиться ощущать связь корпуса с нижней частью тела, учитывая особенности своего организма и состояние здоровья. Главное правило выполнения асан – отсутствие дискомфорта и боли.
            p.teachers__teacher__text Основная идея Ишвара-йоги заключается в достижении целостности внутреннего пространства. Для этого нервная система должна научиться правильно обращаться с инструментом под названием тело. Чтобы понять себя в общении со своим телом, необходимо найти такой способ выполнения асан, который не будет вызывать дискомфорта. Зависит комфорт не от состояния мышц, связок, костей и сухожилий, а от «диспетчера», который находится внутри мозга и всем управляет.
            p.teachers__teacher__text В отличие от прочих стилей, здесь нет строго заданного порядка выполнения асан. Программа составляется индивидуально с учетом всех особенностей (заболеваний, травм) человека. Автор методики отмечает, что полезные для одного человека асаны могут не нести пользы другому и навредить третьему.



      a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/classes/djiva.jpg" )
        .teachers__teacher__meta
          p.teachers__name.teachers__name_hide Джива йога <small>Температура в зале — 36°</small>
          .teachers__teacher__desc
            p.teachers__teacher__text Практика, направленная на поддержание активной жизни и здоровья в целом, где особое внимание уделяется гормональному фону, стройной осанке и правильной походке. Все упражнения делаются с мягкими, волновыми движениями по кругу или восьмерке, статики нет. Идеально подходит людям с пониженной и повышенной функцией щитовидной железы.
            p.teachers__teacher__text Практика включает в себя работу с дыханием и специальный комплекс упражнений, направленный на снятие напряжения с мышц шеи и поясницы. Также во время практики прорабатывается ключевая мышца в теле - диафрагма, что помогает обрести стройную осанку и правильное дыхание.
            p.teachers__teacher__text Эти упражнения подходят людям с различными проблемами позвоночника и желающим хорошо владеть своим телом.


      a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/classes/namaskar.jpg" )
        .teachers__teacher__meta
          p.teachers__name.teachers__name_hide Сурья Намаскар <small>Температура в зале — 36°</small>
          .teachers__teacher__desc
            p.teachers__teacher__text Как идеально начать утро субботы? Конечно же, с приветствия Солнцу. Сделать это правильно и настроиться на правильную волну поможет Илья Баринов с авторским вариантом практики, где, помимо всего прочего, упор ставится на развитие и углубление физической составляющей практики. Сила и гибкость. Концентрация внимания и дыхание. Поток движений, выводящий на другой уровень физических возможностей. А после шавасаны — приток сил и энергии, заряжающий на все выходные вперед! 
            p.teachers__teacher__text Комплекс Сурья Намаскар состоит из 12 сменяющих друг друга положений тела,  все они в совокупности образуют единую физическую матрицу, глубоко воздействующую не только на органы и системы человеческого тела, но и на внутренний энергетический потенциал и, как следствие, на состояние ума практикующего. Слово «Сурья» переводится как «Солнце», а «Намаскар» – «приветствие, поклон».


      a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/classes/hotzen.jpg" )
        .teachers__teacher__meta
          p.teachers__name.teachers__name_hide Hot zen yoga <small>Температура в зале — 36°</small>
          .teachers__teacher__desc
            p.teachers__teacher__text Поймать дзен можно и нужно именно на этом классе. Практика Hot Zen Yoga – авторская практика Дарьи Кондратьевой специально создана для того, чтобы снять накопившееся напряжение, успокоить ум и привести тело к балансу.

            p.teachers__teacher__text Первая половина класса — динамичная разминка (30 минут классической сурьянамаскар), для того чтобы разогреть тело .

            p.teachers__teacher__text Вторая половина класса — спокойное и длительное выполнение асан, направленных на раскрытие тазобедренных суставов.
            p.teachers__teacher__text Как работает практика? 
            p.teachers__teacher__text На физическом уровне: укрепляют мышцы, связки, развивают гибкость и устойчивость;
            p.teachers__teacher__text На физиологическом уровне: улучшают кровообращение и микроциркуляцию, улучшают регуляцию эндокринной, иммунной систем и ферментативных процессов;
            p.teachers__teacher__text На психо-эмоциональном уровне: выравнивают потенциалы мозга, способствуют выделению в кровь эндорфинов и, как следствие, улучшают настроение. Благодаря концентрации внимания, положительно влияют на память и волю.


      a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/classes/nidra.jpg" )
        .teachers__teacher__meta
          p.teachers__name.teachers__name_hide Yoga Nidra <small>Температура в зале — 30°</small>
          .teachers__teacher__desc
            p.teachers__teacher__text Йога Нидра — это йогический сон. Техника глубокого расслабления, один час которой равен четырём часам обычного сна.
            p.teachers__teacher__text Это практика, которая переводит человека из полностью бодрствующего состояния в тот промежуток, что прямо предшествует сну. Если вы когда-нибудь замечали, как вы словно бы погружаетесь в сон, всё ещё осознавая реальность, но с несколько притуплёнными чувствами, вы словно в грёзах, то вот это оно и есть то состояние, в котором вам надо остаться, продлить его и через него достичь своего подсознательного, чтобы дать ему команду для дальнейшего функционирования.
            p.teachers__teacher__text Предлагаем вам отключиться от восприятия внешнего мира и прогуляться по тропинкам вашего подсознания под завораживающие звуки медитативных инструментов.
            p.teachers__teacher__text Йога Нидра способствует глубокому физиологическому отдыху, у человека пробуждаются и активизируются могучие резервы организма, возрастает общая сопротивляемость деструктивным воздействиям, сочетание мышечной, эмоциональной и умственной релаксаций уравновешивает поток жизненно важных и психических энергий.


      a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/classes/pranayama.jpg" )
        .teachers__teacher__meta
          p.teachers__name.teachers__name_hide Pranayama  <small>Температура в зале — 36°</small>
          .teachers__teacher__desc
            p.teachers__teacher__text Очень спокойная практика, направленная на глубокую работу с дыханием.
            p.teachers__teacher__text Термин «пранаяма» состоит из двух санскритских слов — прана и яма. Термин прана обозначает собой «дыхание, жизнь, жизненная энергия». Термин яма в переводе означает «остановка, контроль, управление». Поэтому пранаяму часто определяют как технику сознательного управления дыханием, которая включает в себя систему дыхательных упражнений.
            p.teachers__teacher__text Пранаяма оздоравливает нервную, эндокринную, дыхательную, кровеносную, пищеварительную и мочевыводящую системы. Процесс дыхания напрямую связан с мозгом и с центральной нервной системой - поняв природу дыхания и ограничивая его, человек может управлять всей системой своего тела.
            p.teachers__teacher__text Во время занятия мы научимся управлять своим дыханием, узнаем, что такое бандхи и для чего они нужны, выполним основные дыхательные техники. Узнаем, зачем заниматься практикой пранаямы в современном городе и какое именно влияние они оказывают на наш организм и умственные процессы.
     
      a.teachers__teacher
      a.teachers__teacher
      a.teachers__teacher