extends layouts/main.pug

block content
  section.content
     
    h2.content__title КОЛЛАБОРАЦИИ

    .content__wrapper
      //img.content__image(src="assets/converse-header.png")
      //h4.content__subtitle О коллаборации
      p.content__text.
        Мы уверены, что наша сила не только в ответственном подходе к традициям йоги и современных инженерных решениях, но и в особенном настроении сообщества, его соцсетях, коллаборациях, которые формируют эмоциональное отношение к бренду и помогают с помощью взаимодействия с другими известными компаниями передать нашу философию.
      p.content__text &nbsp;

    div.teachers.teachers_center.teachers_big
      a.teachers__teacher(href="/converse.html" target="_blank")
        .teachers__img-wrap
          img.teachers__img( src="/assets/collab-converse.jpg" )
        .teachers__teacher__meta
          p.teachers__name Hot Yoga 36 &amp; Converse
            span Подробнее

      a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/collab-kombucha-2.jpg" )
        .teachers__teacher__meta
          p.teachers__name Hot Yoga 36 &amp; AF-brew Symbiotica
            span Подробнее
        
      a.teachers__teacher(href="/duhi.html" target="_blank")
        .teachers__img-wrap
          img.teachers__img( src="/assets/collab-duhi.jpg" )
        .teachers__teacher__meta
          p.teachers__name Hot Yoga 36 &amp; DEMETER
            span Подробнее
        
      
        
      
      