extends layouts/main.pug

block content
    section.content
        h2.content__title КОНТАКТЫ
        h4.content__subtitle HOT YOGA 36 || горячии студии в Петербурге

        .content__columns
            .content__column 
                p.content__subtitle2 Hot Yoga 36 студия горячей йоги на Рубинштейна
                p.content__text.content__text_first Рубинштейна д. 36, кв. 36, <br />970 90 36<br />(напротив памятника Довлатову)
        
            .content__column 
                p.content__subtitle2 Hot Yoga 36 студия горячей йоги и балета на Васильевском
                p.content__text.content__text_first ВО, 6 линия д. 21 <br /> 988 21 36 <br />(в арке, дверь направо, 2 этаж)

            .content__column 
                p.content__subtitle2 ПС, Каменноостровский 26-28, <br /> 981 90 36 
                p.content__text.content__text_first (Дом Бенуа, вглубь двора от Плюшкин дом)

        div(style="overflow: hidden; max-height: 500px")
            // iframe src="https://www.google.com/maps/d/u/0/embed?mid=1taRwtyrQHhrWVwtKLms6clbjylHaM9Jt&ehbc=2E312F" width="640" height="480"></iframe>
            iframe(src="https://www.google.com/maps/d/u/0/embed?mid=1taRwtyrQHhrWVwtKLms6clbjylHaM9Jt" width="640" height="500" frameborder="0" style="border:0; max-width:100%; width: 100%; position:relative; top:-50px;")
            //iframe(src="https://www.google.com/maps/d/u/0/embed?mid=1vGDVw297kQYteL0fqA2MeuqQiUYJlcj1" width="640" height="500" frameborder="0" style="border:0; max-width:100%; width: 100%; position:relative; top:-50px;")
            //iframe(src="https://www.google.com/maps/d/u/0/embed?mid=13n7R-FHFCxbky2uxM7muMHp1YFKs7NJs" width="640" height="500" frameborder="0" style="border:0; max-width:100%; width: 100%; position:relative; top:-50px;")

