extends layouts/main.pug

block content
    section.content
        h2.content__title КОНТАКТЫ

        h4.content__subtitle HOT YOGA 36 || Студия горячей йоги в Петербурге
        p.content__text телефон студии: 970 90 36, Рубинштейна 36 (домофон 36B, парадная напротив памятника Довлатову)
        
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1999.2648813542548!2d30.341230916159997!3d59.92774678187217!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469631a8d4c21307%3A0x15df9ac4f3e2caeb!2zSG90IFlvZ2EgMzYg0YHRgtGD0LTQuNGPINCz0L7RgNGP0YfQtdC5INC50L7Qs9C4!5e0!3m2!1sru!2sru!4v1493062887614" height="450" frameborder="0" style="border:0; max-width:100%; width: 100%;" allowfullscreen)