extends layouts/main.pug

block content
    section.content
        .content__wrapper
            //img.content__image(src="assets/converse-header.png")
            h4.content__subtitle Ароматы — истории, навеянные йогой
            p.content__text.
              Совместно с Библиотекой ароматов x DEMETER мы создали лимитированную коллекцию из трёх ароматов. Каждый — особая история, навеянная йогой и нашедшая отражение в древних легендах о балансе мужского и женского, ментальной и физической чистоте и, конечно, в путешествиях по Индии.

            div.teachers.teachers_center.teachers_big
              a.teachers__teacher
                .teachers__img-wrap
                  img.teachers__img( src="/assets/duhi-1.jpg" )
                .teachers__teacher__meta
                  p.teachers__name #1
                    span.teachers__text.teachers__text_short Ситуация: вы в Индии. Не в той, что грязная и неопрятная, а роскошной, культурной и величественной
                    span.teachers__text.teachers__text_long Ситуация: вы в Индии. Не в той, что грязная и неопрятная, а роскошной, культурной и величественной. Квартал аутентичный, но вокруг полно продвинутых европейцев. В уютном кафе вы заказываете первоклассный масала, а, может, и ласси с кардамоном. Воздух свеж, но пропитан ароматами. С севера доносятся пряные запахи мускатного ореха, розмарина, перца и неведомых специй из пёстрой рыночной лавки выходного дня. С востока — только зажженные благовония в храме. Вы абсолютно счастливы. Вдыхаете полной грудью и, наконец, осознаете, что же это такое — туманное и неясное “дыхание уджаи”, о котором вам еще год назад рассказывал инструктор по йоге. Бесконечная череда инсайтов, мудрости и вкуса воздуха уже не исчезнут из памяти. Аромат согреет в холодное и сырое время года, создавая уют и погружая в мечты о путешествиях. Как для парней, так и для девушек.

              a.teachers__teacher
                .teachers__img-wrap
                  img.teachers__img( src="/assets/duhi-2.jpg" )
                .teachers__teacher__meta
                  p.teachers__name #2
                    span.teachers__text.teachers__text_short После класса по йоге в теле всегда ощущается особая ментальная чистота. А после горячей йоги обязательно
                    span.teachers__text.teachers__text_long  После класса по йоге в теле всегда ощущается особая ментальная чистота. А после горячей йоги обязательно принять освежающий душ для физического тела. Честно говоря, многие занимаются горячей йогой, только чтобы почувствовать это мощное и одновременно тонкое чувство кристальной ясности и абсолютной любви — чувство тотального очищения. Но если йогой вы никогда не занимались — обязательно оцените этот легкий, озоновый, немного цветочный, чуть пудровый аромат. Такой, словно его источает каждый миллиметр кожи, а все мысли посвящены только любви ко всему миру. Унисекс.
                
              a.teachers__teacher
                .teachers__img-wrap
                  img.teachers__img( src="/assets/duhi-3.jpg" )
                .teachers__teacher__meta
                  p.teachers__name #3
                    span.teachers__text.teachers__text_short Тёплый воздух, яркое солнце, лёгкий хруст ароматной мякоти айвы и медово-лимонный шлейф свежего яблока
                    span.teachers__text.teachers__text_long  Тёплый воздух, яркое солнце, лёгкий хруст ароматной мякоти айвы и медово-лимонный шлейф свежего яблока. Айва — один из древнейших плодов на планете. Это и то самое золотое яблоко, которое богиня Афродита получила от Париса за любовь Прекрасной Елены. И даже то райское, которое Ева протянула Адаму — ведь древнему миру привычные нам яблоки были неизвестны. Другая легенда гласит, что Ясон во время похода аргонавтов добыл Золотое Руно и заодно дочь царя Колхиды Медею, которая прибыла в Грецию с кавказскими дарами. Среди них была и айва. Следуя традиции бракосочетания, Медея посадила фруктовое деревце в спальне, так как «аромат айвы, исходящий от ложа женщины, «сохранит красоту ее и не позволит мужу покинуть ее». Брак Медеи и Ясона был счастливым и долгим, пока дерево не было уничтожено. А вот аромат айвы, искрящийся и райский, до сих пор считается символом счастливой семьи, в которой нашли гармонию как мужское, так и женское начало. Аромат подойдет девушкам.


            <a class="btn-of-order" href="https://biblioteka.shop/catalog/dropi/hot-yoga-36.html?utm_source=vk&utm_medium=organic&utm_campaign=hotyoga" target="_blank">Купить духи</a>