extends layouts/main.pug

block content
  section.content

    h2.content__title Фотогалерея
    ul.photos(id="gallery")
      li.photos__li(data-src="/assets/gallery/9F4A2361_2_3.jpg")
        img(src="/assets/gallery/9F4A2361_2_3.jpg")
      li.photos__li(data-src="/assets/gallery/9F4A2301_2_3.jpg")
        img(src="/assets/gallery/9F4A2301_2_3.jpg")
      li.photos__li(data-src="/assets/gallery/9F4A2292_3_4.jpg")
        img(src="/assets/gallery/9F4A2292_3_4.jpg")
      li.photos__li(data-src="/assets/gallery/9F4A2280_1_2.jpg")
        img(src="/assets/gallery/9F4A2280_1_2.jpg")
      li.photos__li(data-src="/assets/gallery/9F4A2265_6_7.jpg")
        img(src="/assets/gallery/9F4A2265_6_7.jpg")
      li.photos__li(data-src="/assets/gallery/9F4A2262_3_4.jpg")
        img(src="/assets/gallery/9F4A2262_3_4.jpg")
      li.photos__li(data-src="/assets/gallery/9F4A2247_8_9.jpg")
        img(src="/assets/gallery/9F4A2247_8_9.jpg")
      li.photos__li(data-src="/assets/gallery/9F4A2241_2_3.jpg")
        img(src="/assets/gallery/9F4A2241_2_3.jpg")
      li.photos__li(data-src="/assets/gallery/9F4A2238_39_40.jpg")
        img(src="/assets/gallery/9F4A2238_39_40.jpg")
      li.photos__li(data-src="/assets/gallery/9F4A2232_3_4.jpg")
        img(src="/assets/gallery/9F4A2232_3_4.jpg")
      li.photos__li(data-src="/assets/gallery/9F4A2229_30_31.jpg")
        img(src="/assets/gallery/9F4A2229_30_31.jpg")
      li.photos__li(data-src="/assets/gallery/9F4A2223_4_5.jpg")
        img(src="/assets/gallery/9F4A2223_4_5.jpg")
      li.photos__li(data-src="/assets/gallery/9F4A2217_8_9.jpg")
        img(src="/assets/gallery/9F4A2217_8_9.jpg")
      li.photos__li(data-src="/assets/gallery/9F4A2208_09_10.jpg")
        img(src="/assets/gallery/9F4A2208_09_10.jpg")
      li.photos__li(data-src="/assets/gallery/9F4A2193_4_5.jpg")
        img(src="/assets/gallery/9F4A2193_4_5.jpg")
      li.photos__li(data-src="/assets/gallery/9F4A2175_6_7.jpg")
        img(src="/assets/gallery/9F4A2175_6_7.jpg")
      li.photos__li(data-src="/assets/gallery/9F4A2166_7_8.jpg")
        img(src="/assets/gallery/9F4A2166_7_8.jpg")
      li.photos__li(data-src="/assets/gallery/9F4A2160_1_2.jpg")
        img(src="/assets/gallery/9F4A2160_1_2.jpg")
      li.photos__li(data-src="/assets/gallery/9F4A2148_49_50.jpg")
        img(src="/assets/gallery/9F4A2148_49_50.jpg")
      li.photos__li(data-src="/assets/gallery/9F4A2124_5_6.jpg")
        img(src="/assets/gallery/9F4A2124_5_6.jpg")
      li.photos__li(data-src="/assets/gallery/9F4A2121_2_3.jpg")
        img(src="/assets/gallery/9F4A2121_2_3.jpg")
      li.photos__li(data-src="/assets/gallery/9F4A2118_19_20.jpg")
        img(src="/assets/gallery/9F4A2118_19_20.jpg")
      li.photos__li(data-src="/assets/gallery/9F4A2112_3_4.jpg")
        img(src="/assets/gallery/9F4A2112_3_4.jpg")
      li.photos__li(data-src="/assets/gallery/9F4A2109_10_11.jpg")
        img(src="/assets/gallery/9F4A2109_10_11.jpg")
      li.photos__li(data-src="/assets/gallery/9F4A2103_4_5.jpg")
        img(src="/assets/gallery/9F4A2103_4_5.jpg")
      li.photos__li(data-src="/assets/gallery/9F4A2097_8_9.jpg")
        img(src="/assets/gallery/9F4A2097_8_9.jpg")
      li.photos__li(data-src="/assets/gallery/9F4A2094_5_6.jpg")
        img(src="/assets/gallery/9F4A2094_5_6.jpg")