extends layouts/main.pug

block content
    section.content
        h2.content__title Горячая йога
        p.content__text.
          Горячая йога – это йога в помещении с температурой от 36 до 40 градусов и влажностью 40 процентов. В основе лежит идея о бережном отношении к телу, более эффективной практике и необходимой детоксикации организма. 
        p.content__text.
          Йога родилась в странах с климатом разительно отличающимся от России, а значит, занимаясь в обычном зале, мы либо не соблюдаем нужных условий для практики, либо проводим гораздо больше времени на коврике, чтобы йога как способ начала работать.
        p.content__text.
          Технологии в помощь. В специально созданном микроклимате тело быстрее разогревается, а значит возможность получить травму равна нулю, тело быстрее готово к работе и экономит время, ведь для продуктивной практики в обычном помещении первые 40 минут нужно посвятить только разминке и ввода тела в практику. За счет температуры ускоряется обмен веществ, кровь насыщается кислородом, очищается лимфатическая система, удаляя вместе с потом токсины. 
        p.content__text.
          Синонимом горячей йоги является бикрам-йога, молодое направление имени своего создателя. Чёткая последовательность из 26 асан едина во всем мире. Начиная с дыхания, каждая последующая поза является плавным продолжением предыдущей, повторяется дважды и ведет к гармоничному телу, которое задумала природа. Заучив все позы, вы сможете ослабить контроль за техникой и порядком и перейти к работе с вниманием и концентрацией. 
        p.content__text.
          В последствии, оценив, всю прелесть горячей температуры, вход идут разные практики и направления для оздоровления организма, восстановления тела после травм и успокоения ума.