extends layouts/main.pug

block content
    section.content
        .content__wrapper
            
            h4.content__subtitle О коллаборации
            p.content__text.
              Сеть популярных йога студий Hot Yoga 36 совместно с корпорацией AF-brew выпустила в продажу особую комбучу.
            p.content__text.
              Крупнейший российский пивоваренный завод, отцы-основатели российского крафта – корпорация AF-brew решила развивать тему полезных, натуральных и безалкогольных напитков. Так был создан проект Symbiotica, в лаборатории которого  был создан оригинальный напиток. Уникальность состава прежде всего в том, что напиток изготовлен на основе гриба-мёдоеда (обычно чайный гриб питается сахаром). Вода, зеленый чай, чайный гриб, мед, куркума, имбирь и лемонграсс - тот самый золотой  состав, который ждет вас в новых баночках яркого и  жизнерадостного дизайна. Кстати, здесь тоже не просто: цвета оформления, как  гамма студии Hot Yoga 36 на Василеостровской - это цвета буддийских мантий разных традиций.
            p.content__text.
              Напиток получился тонизирующим, с согревающим вкусом и целым рядом преимуществ для иммунитета в вирусный период.
            
            img.content__image(src="assets/kombucha-page.jpg" style="max-width: 500px; margin-top: 30px")
            
            
            //<a class="btn-of-order" href="https://fabstore.ru/catalog/iteminfo/fab-lab-x-hot-yoga-cream" target="_blank">Купить кеды</a>
