extends layouts/main.pug

block content
  section.content
    .content__wrapper
      h4.content__subtitle Петроградская сторона
      p.content__text.
          Скоро расскажем подробности, а пока смотрите, как у нас красиво:

      section(class="slideshow slideshow_inline" data-arrows="true")
          a(class="slideshow__slide" style="background-image:url(assets/petrogradka/1.jpg)")
          a(class="slideshow__slide" style="background-image:url(assets/petrogradka/2.jpg)")
          a(class="slideshow__slide" style="background-image:url(assets/petrogradka/3.jpg)")
          a(class="slideshow__slide" style="background-image:url(assets/petrogradka/4.jpg)")
          a(class="slideshow__slide" style="background-image:url(assets/petrogradka/5.jpg)")
          a(class="slideshow__slide" style="background-image:url(assets/petrogradka/6.jpg)")
          a(class="slideshow__slide" style="background-image:url(assets/petrogradka/7.jpg)")
          a(class="slideshow__slide" style="background-image:url(assets/petrogradka/8.jpg)")
          a(class="slideshow__slide" style="background-image:url(assets/petrogradka/9.jpg)")
          a(class="slideshow__slide" style="background-image:url(assets/petrogradka/10.jpg)")
          a(class="slideshow__slide" style="background-image:url(assets/petrogradka/11.jpg)")