extends layouts/main.pug

block content
  section.content
    .content__wrapper
      //h4.content__subtitle Петроградская сторона
      h4.content__subtitle ВОПЛОЩЕНИЕ:
      p.content__text.
        В июне 2023 мы открыли третий филиал на Петроградской стороне — первую и единственную в России студию горячей йоги без зеркал. Вместо них в зале развернулась настоящая феерия цвета: сотни тысяч светодиодов воспроизводят всевозможные оттенки галактики в монохромном и градиентом, статичном и динамическом цветовых сценариях. В зависимости от желания преподавателя и задач практики зал мгновенно наполняется оттенками снежных горных вершин, теплого океанского заката или космическими градиентами. Цвет помогает взбодриться или расслабиться, повысить концентрацию или уйти глубже в ощущения. Вместо фокуса на положении в зеркале — фокус на сигналах тела и балансировка состояния через воздействие цвета. 
      p.content__text.
        Неизменным остается высокотехнологичное оборудование для поддержания температуры и влажности — так, чтобы на время класса вы телепортировались прямиком на родину Кришнамачарьи. В студии представлены самые разные направления: от традиционной аштанга йоги с майсор и лед-классами, бикрама и классической хатхи до дживамукти, стретчинга, виньяса флоу и йогатерапии. 

      
      h4.content__subtitle ИНТЕРЬЕР:
      p.content__text.
        Третья студия — наша особая гордость и весомый повод для гостей Петербурга внести посещение классов на Петроградке в свои маршруты. 
      p.content__text.
        Поиск того самого помещения занял почти год. Студия на Петроградке — самая компактная, но это не помешало воплотить все, что мы задумывали. В пространстве сохранили черты анфиладной планировки, восстановили розетки на потолке. Зал площадью 100 кв. м. украшает камин, в который поместили кристалл с особой историей — подарок студии от глубоких и уважаемых практиков, привезенный с острова Бали. 
      p.content__text.
        Студия одновременно и минималистична, и богата на произведения искусства. На ресепшене вас встретит Эка Пада Бакасана кисти Маши Янковской и Шива — оригинал картины известного художника и бхакти-йога по имени Вриндаван Дас. Его творчество хранят в личных коллекциях практики и известные учителя по всему миру: от русских преподавателей (Илья Журавлев, Михаил Баранов, Денис Заенчковский) до индийских маха-йогов (Шайлендра Шарма).
      p.content__text.        
        В мужской и женской раздевалках традиционно всё, что нужно для комфортной подготовки и сборов после практики: индивидуальные шкафчики с вешалками для вещей, душевые, уборные, зеркала и фены. Стены раздевалок украшают два световых панно с изображениями Будды Самантабхадра, «Благородного во всем».

      h4.content__subtitle ИНТЕРЕСНЫЕ ФАКТЫ О СТУДИИ: 
      p.content__text.
        Студия находится в Доме Бенуа — памятнике истории и культуры. Дом построен по проекту трех братьев из архитектурной династии Бенуа в 1911-1914. Это гениальное творение с лучшими для своего времени инженерными решениями: паровым отоплением, встроенными лифтами, собственной электростанцией и котельной. Парадные фасады дома выходят сразу на 3 улицы, а за ними спрятана целая сеть-лабиринт из закрытых дворов, которые соединяют корпуса между собой. В доме проживали потомственные дворяне и представители купечества, люди искусства и политические деятели. Окна студии выходят во двор с собственным фонтаном.


      section(class="slideshow slideshow_inline" data-arrows="true")
          a(class="slideshow__slide" style="background-image:url(assets/petrogradka/1.jpg)")
          a(class="slideshow__slide" style="background-image:url(assets/petrogradka/2.jpg)")
          a(class="slideshow__slide" style="background-image:url(assets/petrogradka/3.jpg)")
          a(class="slideshow__slide" style="background-image:url(assets/petrogradka/4.jpg)")
          a(class="slideshow__slide" style="background-image:url(assets/petrogradka/5.jpg)")
          a(class="slideshow__slide" style="background-image:url(assets/petrogradka/6.jpg)")
          a(class="slideshow__slide" style="background-image:url(assets/petrogradka/7.jpg)")
          a(class="slideshow__slide" style="background-image:url(assets/petrogradka/8.jpg)")
          a(class="slideshow__slide" style="background-image:url(assets/petrogradka/9.jpg)")
          a(class="slideshow__slide" style="background-image:url(assets/petrogradka/10.jpg)")
          a(class="slideshow__slide" style="background-image:url(assets/petrogradka/11.jpg)")