extends layouts/main.pug

block content
    section.content
        h2.content__title СТОИМОСТЬ
        
        h4.content__subtitle ДЛЯ НОВИЧКОВ:
        ul
          li Гостевой — 900 рублей: Если вы у нас впервые. Побывать гостем можно в каждой студии.
          li Неделя новичка — 1900 рублей: Для азартных новичков, которым интересно всё, сразу и в любое время. Целая неделя посещений, чтобы определиться с интересными конкретно для вас классами и преподавателями. У каждой студии своя неделя новичка.

        br
        h4.content__subtitle ДЛЯ ПРОДОЛЖАЮЩИХ:
        br
        h4.content__subtitle АБОНЕМЕНТЫ В ОДНУ СТУДИЮ НА ВЫБОР
        table.prices
          tr.prices__row
            th.prices__cell.prices__cell_th количество занятий
            th.prices__cell.prices__cell_th период посещения 
            th.prices__cell.prices__cell_th стоимость абонемента 
            th.prices__cell.prices__cell_th стоимость 1 занятия
          tr.prices__row
            td.prices__cell разовое
            td.prices__cell 1 занятие 
            td.prices__cell 1200 
            td.prices__cell 1200
          tr.prices__row
            td.prices__cell 4 занятия 
            td.prices__cell 
              | 30 дней 
              br 
              | любое время
            td.prices__cell 4200 
            td.prices__cell 1050
          tr.prices__row
            td.prices__cell 8 занятий 
            td.prices__cell 
              | 30 дней 
              br
              | с 8:00 до 17:00 
            td.prices__cell 5800
            td.prices__cell 725
          tr.prices__row
            td.prices__cell 9 занятий 
            td.prices__cell 
              | 30 дней 
              br
              | любое время
            td.prices__cell 7200
            td.prices__cell 800
          // tr.prices__row
            td.prices__cell 30 занятий 
            td.prices__cell 90 дней 
            td.prices__cell 16500 
            td.prices__cell 550
          tr.prices__row
            td.prices__cell 
              | безлимитка 
              sup *
            td.prices__cell
              | 30 дней 
              br
              | заморозка 1 неделя
            td.prices__cell 8500
            td.prices__cell
          tr.prices__row
            td.prices__cell 
              | безлимитка 
              sup *
            td.prices__cell 
              | 180 дней 
              br
              | заморозка 1 месяц
            td.prices__cell 36000
            td.prices__cell
          tr.prices__row
            td.prices__cell 
              | безлимитка VIP
              sup **
            td.prices__cell
              | 360 дней 
              br
              | заморозка 2 месяца
            td.prices__cell 94000
            td.prices__cell

        h4.content__subtitle АБОНЕМЕНТЫ В ДВЕ СТУДИИ НА ВЫБОР
        table.prices
          tr.prices__row
            th.prices__cell.prices__cell_th количество занятий
            th.prices__cell.prices__cell_th период посещения 
            th.prices__cell.prices__cell_th стоимость абонемента 
            th.prices__cell.prices__cell_th стоимость 1 занятия
          tr.prices__row
            td.prices__cell 9 занятий 
            td.prices__cell 
              | 30 дней 
              br
              | любое время
            td.prices__cell 7900
            td.prices__cell 878            
          tr.prices__row
            td.prices__cell 
              | безлимитка
              sup *
            td.prices__cell 
              | 30 дней 
              br
              | заморозка 1 неделя
            td.prices__cell 9700
            td.prices__cell 
          tr.prices__row
            td.prices__cell 
              | безлимитка
              sup *
            td.prices__cell 
              | 180 дней 
              br 
              | заморозка 1 месяц
            td.prices__cell 42000
            td.prices__cell
        
        h4.content__subtitle ЕДИНЫЕ АБОНЕМЕНТЫ В ТРИ СТУДИИ 
        table.prices
          tr.prices__row
            th.prices__cell.prices__cell_th количество занятий
            th.prices__cell.prices__cell_th период посещения 
            th.prices__cell.prices__cell_th стоимость абонемента 
            th.prices__cell.prices__cell_th стоимость 1 занятия
          tr.prices__row
            td.prices__cell 
              | безлимитка
              sup *
            td.prices__cell 
              | 30 дней 
              br
              | заморозка 1 неделя
            td.prices__cell 11000
            td.prices__cell 
          tr.prices__row
            td.prices__cell 
              | безлимитка
              sup *
            td.prices__cell 
              | 180 дней 
              br 
              | заморозка 1 месяц
            td.prices__cell 48000
            td.prices__cell

        p.content__text.content__text_small * Можно посещать не более 1 практики в день в любое время. Заморозка активируется минимум на 7 дней. При активации абонемента до окончания заморозки оставшиеся дни заморозки сгорают. 
        p.content__text.content__text_small ** Включена аренда коврика, 2 полотенец и 0,5 л воды на каждое занятие
        p.content__text Уточняйте возможности и сроки заморозки конкретных абонементов у администраторов.

        h4.content__subtitle АРЕНДА:
        p.content__text.
          Специальный пробковый коврик: 100 рублей (вы можете принести любой удобный йога-коврик с собой).
        p.content__text.
          2 больших полотенца: 100 рублей (вы также можете брать с собой большие полотенца из дома: одно, чтобы постелить на коврик во время занятия, второе — после душа)
        p.content__text
          strong.
            ВНИМАНИЕ: все купленные абонементы необходимо активировать в течение 90 дней с момента покупки. 