extends layouts/main.pug

block content
    section.content
        h2.content__title СТОИМОСТЬ
        
        h4.content__subtitle ДЛЯ НОВИЧКОВ: 
        ul
          li "Гостевой" 500 рублей: если вы впервые у нас и не решительны 
          li "Неделя новичка" 1000 рублей: для азартных новичков, которым интересно всё, сразу и в любое время. Целая неделя неограниченных посещений, чтоб определиться с интересными конкретно для вас классами и преподавателями.

        h4.content__subtitle ДЛЯ ПРОДОЛЖАЮЩИХ:
        ul
          li 1 занятие 800 рублей: разовое занятие 
          li 4 занятия за 30 дней 2800 рублей: для тех любит погорячее только 1 раз в неделю (одно занятие: 700 рублей).  
          li 1 месяц безлимитки 5000 рублей: для горячих и богатых.  
          li 30 занятий за 90 дней 12000 рублей: шикарный и супер выгодный вариант для тех, кто практикует не чаще 2х раз в неделю (одно занятие: 400 рублей). 
          li 6 месяцев безлимитки 20 000 рублей: абонемент для тех, кто хозяин своей жизни: вы можете ходить каждый день или с перерывами, на утренние или вечерние занятия и не думать каждый месяц о продлении. 
          li VIP-год "Все включено" 65 0000 рублей: решение для Королей, для тех, кто не любит таскать с собой полотенца, коврики, покупать воду. Все включено! И точка. 

        table.prices
          tr.prices__row
            th.prices__cell.prices__cell_th количество занятий
            th.prices__cell.prices__cell_th период посещения 
            th.prices__cell.prices__cell_th стоимость абонемента 
            th.prices__cell.prices__cell_th стоимость 1 занятия
          tr.prices__row
            td.prices__cell разовое
            td.prices__cell 1 занятие 
            td.prices__cell 800 
            td.prices__cell 800
          tr.prices__row
            td.prices__cell 4 занятия 
            td.prices__cell 
              | 30 дней 
              br 
              | любое время
            td.prices__cell 2800 
            td.prices__cell 700
          tr.prices__row
            td.prices__cell 8 занятий 
            td.prices__cell 
              | 30 дней 
              br
              | с 8:00 до 17:00 
            td.prices__cell 3500 
            td.prices__cell 437,5
          tr.prices__row
            td.prices__cell 30 занятий 
            td.prices__cell 90 дней 
            td.prices__cell 12000 
            td.prices__cell 400
          tr.prices__row
            td.prices__cell безлимитка 
            td.prices__cell 30 дней 
            td.prices__cell 5000
            td.prices__cell
          tr.prices__row
            td.prices__cell безлимитка 
            td.prices__cell 180 дней 
            td.prices__cell 20000
            td.prices__cell
          tr.prices__row
            td.prices__cell 
              | безлимитка VIP
              sup *
            td.prices__cell 360 дней 
            td.prices__cell 65000
            td.prices__cell

        p.content__text.content__text_small * в данный вид абонемента включена аренда коврика, 2х полотенец и 0,5 воды на каждое занятие
        p.content__text ВНИМАНИЕ: в каждом абонементе предусмотрена возможность заморозки!

        h4.content__subtitle АРЕНДА:
        p.content__text.
          Специальный пробковый коврик: 100 рублей ( но вы можете приносить любой удобный йога-коврик с собой!). 
        p.content__text.
          2 больших полотенца: 100 рублей (также вы можете брать с собой большие полотенца из дома: одно для того, чтобы класть на коврик во время занятия, второе: после душа) 