extends layouts/main.pug

block content
    section.content
        h2.content__title СТОИМОСТЬ
        
        h4.content__subtitle ДЛЯ НОВИЧКОВ: 
        ul
          li "Гостевой" 500 рублей: если вы впервые у нас и не решительны 
          li "Неделя новичка" 1000 рублей: для азартных новичков, которым интересно всё, сразу и в любое время. Целая неделя неограниченных посещений, чтоб определиться с интересными конкретно для вас классами и преподавателями.

        h4.content__subtitle ДЛЯ ПРОДОЛЖАЮЩИХ:
        ul
          li 1 занятие 800 рублей: разовое занятие 
          li 4 занятия за 30 дней 2800 рублей: для тех любит погорячее только 1 раз в неделю (одно занятие: 700 рублей).  
          li 1 месяц безлимитки 5000 рублей: для горячих и богатых.  
          li 30 занятий за 90 дней 12000 рублей: шикарный и супер выгодный вариант для тех, кто практикует не чаще 2х раз в неделю (одно занятие: 400 рублей). 
          li 6 месяцев безлимитки 20 000 рублей: абонемент для тех, кто хозяин своей жизни: вы можете ходить каждый день или с перерывами, на утренние или вечерние занятия и не думать каждый месяц о продлении. 
          li VIP-год "Все включено" 65 0000 рублей: решение для Королей, для тех, кто не любит таскать с собой полотенца, коврики, покупать воду. Все включено! И точка. 

        p.content__text ВНИМАНИЕ: в каждом абонементе предусмотрена возможность заморозки!

        h4.content__subtitle АРЕНДА:
        p.content__text.
          Специальный пробковый коврик: 100 рублей ( но вы можете приносить любой удобный йога-коврик с собой!). 
        p.content__text.
          2 больших полотенца: 100 рублей (также вы можете брать с собой большие полотенца из дома: одно для того, чтобы класть на коврик во время занятия, второе: после душа) 