extends layouts/main.pug

block content
    section.content
        h2.content__title СТОИМОСТЬ
        
        h4.content__subtitle ДЛЯ НОВИЧКОВ: 
        ul
          li "Гостевой" 500 рублей: если вы впервые у нас и не решительны 
          li "Неделя новичка" 1000 рублей: для азартных новичков, которым интересно всё, сразу и в любое время. Целая неделя неограниченных посещений, чтоб определиться с интересными конкретно для вас классами и преподавателями.

        br
        h4.content__subtitle ДЛЯ ПРОДОЛЖАЮЩИХ:
        br
        h4.content__subtitle АБОНЕМЕНТЫ В ОДНУ ИЗ СТУДИЙ НА ВАШ ВЫБОР
        table.prices
          tr.prices__row
            th.prices__cell.prices__cell_th количество занятий
            th.prices__cell.prices__cell_th период посещения 
            th.prices__cell.prices__cell_th стоимость абонемента 
            th.prices__cell.prices__cell_th стоимость 1 занятия
          tr.prices__row
            td.prices__cell разовое
            td.prices__cell 1 занятие 
            td.prices__cell 900 
            td.prices__cell 900
          tr.prices__row
            td.prices__cell 4 занятия 
            td.prices__cell 
              | 30 дней 
              br 
              | любое время
            td.prices__cell 3200 
            td.prices__cell 800
          tr.prices__row
            td.prices__cell 8 занятий 
            td.prices__cell 
              | 30 дней 
              br
              | с 8:00 до 17:00 
            td.prices__cell 4500 
            td.prices__cell 560
          tr.prices__row
            td.prices__cell 9 занятий 
            td.prices__cell 
              | 30 дней 
              br
              | любое время
            td.prices__cell 5500 
            td.prices__cell 610
          tr.prices__row
            td.prices__cell 30 занятий 
            td.prices__cell 90 дней 
            td.prices__cell 16500 
            td.prices__cell 550
          tr.prices__row
            td.prices__cell безлимитка 
            td.prices__cell 30 дней 
            td.prices__cell 6500
            td.prices__cell
          tr.prices__row
            td.prices__cell безлимитка 
            td.prices__cell 180 дней 
            td.prices__cell 28000
            td.prices__cell
          tr.prices__row
            td.prices__cell 
              | безлимитка VIP
              sup *
            td.prices__cell 360 дней 
            td.prices__cell 72000
            td.prices__cell

        h4.content__subtitle ЕДИНЫЕ АБОНЕМЕНТЫ В ОБЕ СТУДИИ
        table.prices
          tr.prices__row
            th.prices__cell.prices__cell_th количество занятий
            th.prices__cell.prices__cell_th период посещения 
            th.prices__cell.prices__cell_th стоимость абонемента 
            th.prices__cell.prices__cell_th стоимость 1 занятия
          tr.prices__row
            td.prices__cell безлимитка
            td.prices__cell 
              | 30 дней 
              br
              | с заморозкой 1 неделя
            td.prices__cell 7500
            td.prices__cell 
          tr.prices__row
            td.prices__cell безлимитка
            td.prices__cell 
              | 180 дней 
              br 
              | с заморозкой 1 месяц
            td.prices__cell 33000
            td.prices__cell 

        p.content__text.content__text_small * в данный вид абонемента включена аренда коврика, 2х полотенец и 0,5 воды на каждое занятие
        p.content__text Уточняйте возможности и сроки заморозки конкретных абонементов у администраторов.

        h4.content__subtitle АРЕНДА:
        p.content__text.
          Специальный пробковый коврик: 100 рублей ( но вы можете приносить любой удобный йога-коврик с собой!). 
        p.content__text.
          2 больших полотенца: 100 рублей (также вы можете брать с собой большие полотенца из дома: одно для того, чтобы класть на коврик во время занятия, второе: после душа) 
        p.content__text
          strong.
            ВНИМАНИЕ: ВСЕ КУПЛЕННЫЕ АБОНЕМЕНТЫ НЕОБХОДИМО АКТИВИРОВАТЬ В ТЕЧЕНИЕ 90 ДНЕЙ С МОМЕНТА ПОКУПКИ