extends layouts/main.pug

block content
    section.content
        h2.content__title ПРАВИЛА И ФОРМА ОДЕЖДЫ
        
        p.content__text.
          Собираясь в нашу студию - готовьтесь очутиться в тропиках: будет жарко. Температура в зале + 40, влажность 40%. Поэтому главное правило: чем меньше одежды – тем лучше!
        p.content__text.
          Отдавайте предпочтение натуральным тканям темных цветов или с яркими принтами, либо специальные дышащие материалы, разработанные специально для спорта.

        ul
          li СТОПЫ: Йога практикуется босиком. 
          li ГРУДЬ: Девушкам рекомендуем сделать выбор в пользу спортивного топа-бюстгальтера. Такие топы различаются по уровню плотности (т.е. степени фиксации груди). Выбирайте с низким уровнем плотности. Мужчины в класс Горячей йоги могут ходить без майки. 
          li НОГИ: Для горячей йоги хорошо подходят велосипедные шорты, т.к. они остаются на месте, в то время как вы двигаетесь. Идеальным вариантом будут облегающие шорты (не «парашюты», не «шаровары»!). Возможны леггинсы из неплотной ткани. 
          li ВОЛОСЫ: Не забудьте взять повязку на голову или резинку для волос. Важно, чтобы волосы не падали на лицо: в жарком помещении они могут раздражать нежную кожу лица и шеи. 

        //h4.content__subtitle #ПРАВИЛА
        p.content__text Несмотря на наши рок-н-ролльные взгляды, мы просим соблюдать вас простые правила до и во время занятий: 

        ul
          li Не употребляйте тяжелую пищу за 3 часа до занятия, за час до занятия по желанию можно выпить 1-2 стакана воды с долькой лимона.
          li Приходите в студию за 15 минут до начала занятия (опаздывать новичкам категорически запрещено, для остальных допустимо опаздание не более чем на 5 минут). С собой в зал необходимы 1 коврик, 1 большое полотенце, вода 0,5 литра. 
          li Верхнюю одежду необходимо оставлять на вешалках возле стойки администратора. Перед входом в зону раздевалок и зал необходимо снять уличную обувь.
          li Девушки, пожалуйста, снимайте макияж перед занятием и не используйте парфюмерию
          li Доверяйте преподавателю и следуйте инструкциям, пейте на воду по необходимости и в случае головокружения не покидайте нагретый зал. Головокружение на первом занятии - это нормально. Ложитесь в позу ребенка или шавасану, не закрывайте глаза.
          li Во время занятия дышите через нос.
          li Соблюдайте чистоту в душевых.