extends layouts/main.pug

block content
    section.content
        h2.content__title РАСПИСАНИЕ
        p.content_text. 
            Друзья, расписание на следующую неделю появится в ближайшие часы. 
            br    
            Завтра, в воскресенье: 
        ul
            li в 11:00 Hot Streching c Алёной Дорофеевой, 
            li в 13:00 Bikram Yoga с Игорем Семеновым, 
            li в 19.30 Йога Нидра с хангом (регистрация по телефону 970 90 36, стоимость участия 500р)
        br 
        p.content_text. 
            Приносим извинения за доставленные неудобство