extends layouts/main.pug

block content
    section.content
        h2.content__title РАСПИСАНИЕ

        div.schedule-tabs
            a.schedule-tab.schedule-tab_active#schedule-tab-rubik(href="#rubinsteina") Рубинштейна
            a.schedule-tab#schedule-tab-vo(href="#vo") Васильевский остров
        div.schedule-mobile
