extends layouts/main.pug

block content
    section.content
        h2.content__title РАСПИСАНИЕ

        //iframe(src="https://calendar.yandex.ru/week?embed&layer_ids=4383078&tz_id=Europe/Moscow" width="800" height="450" frameborder="0" style="border: 1px solid #eee")
        iframe(src="https://calendar.yandex.ru/week?embed&layer_ids=4383078&tz_id=Europe/Moscow" width="800" height="600" frameborder="0" style="width:100%")