extends layouts/main.pug

block content
    section.content
        h2.content__title РАСПИСАНИЕ
        

        p.content__text.
            Дорогие друзья, мы обновляем наше расписание каждое воскресенье на будущую неделю! Временная сетка всегда остаётся прежней и большинство классов стабильно идут в одно и то же время. Однако, будьте внимательны и следите за обновлениями. Опоздавшие даже на 2 минуты на класс не допускаются. 
            Кроме этого расписание публикуется в сети <a href="https://vk.com/hotyoga36" target="_blank">vk</a>, канале <a href="https://telegram.me/hotyoga36" target="_blank">telegram</a>, и в <a href="https://www.instagram.com/hotyoga36/" target="_blank">instagram</a>.
        
        div#mf_schedule_widget_cont_z1m
        script(type="text/javascript" async="async" id="mobifitness_personal_widget_script_z1m" src="//mobifitness.ru/personal-widget/js/code.js" data-div="mf_schedule_widget_cont_z1m" data-test="0" data-debug="0" data-domain="mobifitness.ru" data-code="125622" data-version="v6" data-type="schedule" data-language="" data-club="")
        
        //div.schedule-tabs   
            a.schedule-tab.schedule-tab_active#schedule-tab-rubik(href="#rubinsteina") Рубинштейна
            a.schedule-tab#schedule-tab-vo(href="#vo") Васильевский остров
            
        //div.schedule-mobile