extends layouts/main.pug

block content
    section.content
      h2.content__title ВЫПУСКНИКИ
      .content__wrapper
        p.content__text.
          По окончанию тичерскурса мы выдаем 2 вида сертификатов: с правом преподавания (для студентов, успешно сдавших экзамен) и сертификаты, подтверждающие обучение.
        p.content__text.
          Ниже списки выпускников Петербургской школы горячей йоги Hot Yoga 36 успешно сдавших экзамены и получивших Сертификат о прохождении теоретического и практического 108-ми часового курса обучения с правом преподавания горячей йоги. Сертификаты являются действительными на протяжении 3-лет с момента получения:

        h4.content__subtitle 2018
          br
          | Выпускники I поток
        ol.content__list
          li.content__li.content__li_flex
            .student-name Кристина Яркина 
            a(href="https://vk.com/id877275" class="inline-icon inline-icon_vk" target="_blank")
            a(href="https://www.instagram.com/girlfromufanema/" class="inline-icon inline-icon_inst" target="_blank")
          
          li.content__li.content__li_flex
            .student-name Анна Литомина 
            a(href="https://vk.com/litomina" class="inline-icon inline-icon_vk" target="_blank")
            a(href="https://www.instagram.com/litominanet/" class="inline-icon inline-icon_inst" target="_blank")

          li.content__li.content__li_flex
            .student-name Мария Семенова 
            a(href="https://vk.com/id34356831" class="inline-icon inline-icon_vk" target="_blank")

          li.content__li.content__li_flex
            .student-name Максим Хорохорин 
            a(href="https://vk.com/id87727" class="inline-icon inline-icon_vk" target="_blank")
            a(href="https://www.instagram.com/maksimkhorokhorin/" class="inline-icon inline-icon_inst" target="_blank")

          li.content__li.content__li_flex
            .student-name Алена Полякова
            a(href="https://vk.com/id22141927" class="inline-icon inline-icon_vk" target="_blank")
            a(href="https://www.instagram.com/polyakova_alyena/" class="inline-icon inline-icon_inst" target="_blank")
            
          li.content__li.content__li_flex
            .student-name Анастасия Рева
            a(href="https://vk.com/mirachuri" class="inline-icon inline-icon_vk" target="_blank")
            a(href="https://www.instagram.com/mirachuri" class="inline-icon inline-icon_inst" target="_blank")
            
          li.content__li.content__li_flex
            .student-name Марина Крушельницкая
            a(href="https://vk.com/agoniya_za" class="inline-icon inline-icon_vk" target="_blank")
            a(href="https://www.instagram.com/morrrena666" class="inline-icon inline-icon_inst" target="_blank")
            
          li.content__li.content__li_flex
            .student-name Алена Невзорова
            a(href="https://vk.com/birdqwer" class="inline-icon inline-icon_vk" target="_blank")
            a(href="https://www.instagram.com/nevzorova_alyona" class="inline-icon inline-icon_inst" target="_blank")
            
          li.content__li.content__li_flex
            .student-name Полина Тимофеева
            a(href="https://vk.com/poliflame" class="inline-icon inline-icon_vk" target="_blank")

          li.content__li.content__li_flex
            .student-name Кристина Бабак
            a(href="https://vk.com/id3252546" class="inline-icon inline-icon_vk" target="_blank")
            a(href="https://www.instagram.com/babakkristina" class="inline-icon inline-icon_inst" target="_blank")
            
          li.content__li.content__li_flex
            .student-name Даниленко Екатерина
            a(href="" class="inline-icon inline-icon_vk" target="_blank")
            a(href="https://www.instagram.com/katyaulitka" class="inline-icon inline-icon_inst" target="_blank")

          li.content__li.content__li_flex
            .student-name Надежда Гоголадзе
            a(href="https://www.facebook.com/nadyagogaladze.gogaladze" class="inline-icon inline-icon_fb" target="_blank")
            a(href="https://www.instagram.com/nadya_asmud" class="inline-icon inline-icon_inst" target="_blank")

        br
        br
        h4.content__subtitle 2018
          br
          | выпускники II поток (куратор Андрей Болтян)
        ol.content__list
          li.content__li.content__li_flex
            .student-name Сергей Моисеев
            a(href="https://vk.com/sm_film" class="inline-icon inline-icon_vk" target="_blank")
            a(href="www.instagram.com/sergeymoiseev71" class="inline-icon inline-icon_inst" target="_blank")

          li.content__li.content__li_flex
            .student-name Владимир Мерзляков
            a(href="https://vk.com/id23389946" class="inline-icon inline-icon_vk" target="_blank")
            a(href="https://www.instagram.com/vo.doo.m/" class="inline-icon inline-icon_inst" target="_blank")

          li.content__li.content__li_flex
            .student-name Дмитриев Андрей
            a(href="https://vk.com/id437187646" class="inline-icon inline-icon_vk" target="_blank")
            a(href="https://www.instagram.com/yogadali" class="inline-icon inline-icon_inst" target="_blank")

          li.content__li.content__li_flex
            .student-name Анастасия Кондратьева
            a(href="https://vk.com/id437187646" class="inline-icon inline-icon_vk" target="_blank")
            a(href="https://www.instagram.com/sally_tyan" class="inline-icon inline-icon_inst" target="_blank")

          li.content__li.content__li_flex
            .student-name Дарья Груздева
            a(href="https://vk.com/daragru" class="inline-icon inline-icon_vk" target="_blank")
            a(href="https://www.instagram.com/daragru" class="inline-icon inline-icon_inst" target="_blank")

          li.content__li.content__li_flex
            .student-name Владислава Зелинский
            a(href="https://vk.com/id12149755" class="inline-icon inline-icon_vk" target="_blank")
            a(href="https://www.instagram.com/vladislavazelinski" class="inline-icon inline-icon_inst" target="_blank")

          li.content__li.content__li_flex
            .student-name Наталья Гранкина
            a(href="https://vk.com/grenkins" class="inline-icon inline-icon_vk" target="_blank")
            a(href="https://www.instagram.com/grenkins" class="inline-icon inline-icon_inst" target="_blank")

          li.content__li.content__li_flex
            .student-name Шубина Анна
            a(href="https://vk.com/shubina1" class="inline-icon inline-icon_vk" target="_blank")     

          li.content__li.content__li_flex
            .student-name Ванда Томашевская
            a(href="https://vk.com/tom_vanda" class="inline-icon inline-icon_vk" target="_blank")
            a(href="https://www.instagram.com/vegan_vanda/" class="inline-icon inline-icon_inst" target="_blank")


        br
        br
        h4.content__subtitle 2019
          br
          | выпускники III поток (куратор Андрей Болтян)
        ol.content__list
          li.content__li.content__li_flex
            .student-name Алексахина Кира
            a(href="https://vk.com/id3388021" class="inline-icon inline-icon_vk" target="_blank")
          li.content__li.content__li_flex
            .student-name Арбузова Полина
            a(href="https://vk.com/idarbart" class="inline-icon inline-icon_vk" target="_blank")
          li.content__li.content__li_flex
            .student-name Громова Татьяна
            a(href="https://vk.com/id8627632" class="inline-icon inline-icon_vk" target="_blank")
          li.content__li.content__li_flex
            .student-name Замятина Ольга
          li.content__li.content__li_flex
            .student-name Соснин Алексей
            a(href="https://vk.com/sosnin_ag" class="inline-icon inline-icon_vk" target="_blank")

        br
        br
        h4.content__subtitle 2020-2021
          br
          | Выпускники IV поток (куратор Илья Баринов)
        ol.content__list
          li.content__li.content__li_flex
            .student-name Аделина Архипова
          li.content__li.content__li_flex
            .student-name Анна Лопаткина
          li.content__li.content__li_flex
            .student-name Ярослав Вейос
          li.content__li.content__li_flex
            .student-name Дарья Тимшина
          li.content__li.content__li_flex
            .student-name Светлана Шелепова
          li.content__li.content__li_flex
            .student-name Олеся Белусяк

        br
        br
        h4.content__subtitle 2021-2022
          br
          | Выпускники V поток (куратор Илья Баринов)
        ol.content__list
          li.content__li.content__li_flex
            .student-name Александр Кузнецов
          li.content__li.content__li_flex
            .student-name Наталья Киблер
          li.content__li.content__li_flex
            .student-name Петр Митягин
          li.content__li.content__li_flex
            .student-name Алиса Конорева
          li.content__li.content__li_flex
            .student-name Марина Цой
        
        br
        br
        h4.content__subtitle 2022-2023
          br
          | Выпускники VI поток (куратор Илья Баринов)
        ol.content__list
          li.content__li.content__li_flex
            .student-name Анна Коротаева
          li.content__li.content__li_flex
            .student-name Евгения Пылина
          li.content__li.content__li_flex
            .student-name Ксения Галкина
          li.content__li.content__li_flex
            .student-name Анастасия Митягина
          li.content__li.content__li_flex
            .student-name Дарья Казакова
          li.content__li.content__li_flex
            .student-name Яна Безуглова
        br
        br
          


                        