extends layouts/main.pug

block content
    section.content
        h2.content__title ПРЕПОДАВАТЕЛИ

        div.teachers
            a.teachers__teacher
                img.teachers__img( src="/assets/teacher-1.jpg" )
                p.teachers__name Максим Хорохорин

            a.teachers__teacher
                img.teachers__img( src="/assets/teacher-2.jpg" )
                p.teachers__name Диана Аброськина

            a.teachers__teacher
                img.teachers__img( src="/assets/teacher-3.jpg" )
                p.teachers__name Анастасия Ханда

            a.teachers__teacher
                img.teachers__img( src="/assets/teacher-4.jpg" )
                p.teachers__name Анастасия Антонова

            a.teachers__teacher
                img.teachers__img( src="/assets/teacher-5.jpg" )
                p.teachers__name Игорь Семенов