extends layouts/main.pug

block content
  section.content
    
    .popup
      .popup__bg
      .popup__content

    h2.content__title ПРЕПОДАВАТЕЛИ
    div.teachers
      a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/abr.jpg" )
        .teachers__teacher__meta
          p.teachers__name Диана Аброськина
          .teachers__teacher__desc
            .teachers__teacher__text  Класс Дианы отличается от классического бикрама тем, что проходит под музыку: в плейлисте вы услышите Bonobo, Alex Clare и других современных электронных исполнителей. Диана всегда подбадривает своих учеников и создает дружественную атмосферу на уроке. Это единственный сертифицированный преподаватель нашей студии, который успешно совмещает работу в крупнейшей IT-компании и преподавание йоги.

      a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/obs.jpg" )
        .teachers__teacher__meta
          p.teachers__name Максим Хорохорин
          .teachers__teacher__desc
            p.teachers__teacher__text Максим Хорохорин особое внимание уделяет дыхательным упражнениям - пранаяме (осознанный контроль за вдохами, выдохами, задержками дыхания) и бандхам (что в переводе с санскрита "замок"). Будьте уверены: физическая нагрузка также будет интересной и нетривиальной, а все комплексы будут переходить друг от друга плавно и постепенно, набирая скорость движений и интенсивность. На практике вы разберёте Позы воина и Короля танцев, научитесь отличать Полет Гаруды и Орла, осознаете себя цельным как скала, научитесь работать со скрутками, поймете суть чередования напряжения и расслабления. 
            p.teachers__teacher__text Максим всегда ведет свою практику в определенной последовательности (эту идею он почерпнул у Бикрама Чоудхури), так что что при регулярных занятиях вы перестанете  отвлекаться на лишние мысли, слежение за преподавателем и еще легче попадёте в йога-поток. 
            p.teachers__teacher__text Работа на классах Максима идёт по всем направлениям – физиологическому (особенно на практиках Максима прокачиваются мышцы ног и спины), энергетическому, эмоциональному, интеллектуальному, каузальному. В конце практики вас ждет Шавасана с элементами Йога-Нидры и пение мантры ОМ.

      a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/ere.jpg" )
        .teachers__teacher__meta
          p.teachers__name Анна Ерешко
          .teachers__teacher__desc
            p.teachers__teacher__text Этот класс идеален для тех, кто предпочитает менее энергичные классы.  
            p.teachers__teacher__text Хот Хатха йогу с Анной Ерешко между собой зачастую называют "Практикой для девочек": подсветка в зале во время её урока чаще всего цвета заката на океане, а вместо музыки для занятий Анна любит крики чаек и звуки живой природы. 
            p.teachers__teacher__text В своей практике Аня использует множество оригинальных скруток и уделяет большое количество времени классическому комплексу «Сурья Намаскар». Мягкая подача и бережность класса хорошо подходит для новичков.

      a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/bolt.jpg" )
        .teachers__teacher__meta
          p.teachers__name Андрей Болтян
          .teachers__teacher__desc
            p.teachers__teacher__text Андрей пришёл к йоге как к пути к здоровью и восстановлению после серьёзной карьеры в карате, где, по словам самого Андрея, получил большие разрушения тела. Сертифицированный преподаватель, член Ассоциации Профессиональных Висцеральных Терапевтов, совершенствуется в традиции Шивананда и Сатьянанда хатха и Крия йоги. 
            p.teachers__teacher__text Андрей очень ответственно подходит к своим практикам, много внимания уделяет отстройкам асан и каждому ученику на занятиях, которое, к слову, длится не 90 минут, а 120! Будьте уверены в проработке каждой мыщцы на этой практике.

      a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/sem.jpg" )
        .teachers__teacher__meta
          p.teachers__name Игорь Семенов
          .teachers__teacher__desc
            p.teachers__teacher__text Ошеломляющий классический бикрам-класс с Игорем Семёновым подходит и для тех, кто супер асс и для тех, кто посматривает хлопающими глазами с неуверенностью в правильности выполнения, с волнением, почему защемилось бедро или куда идти, если не гнётся. Занятие проходит в тишине, только голос Игоря в микрофон: чёткий посекундный инструктаж с подробными объяснениями и, не поверите, вмешательством в ваши возможности!
            p.teachers__teacher__text Игорь следит даже за малейшим движением, голосом дотягивает вашу ногу и втягивает колено. Игорь тихо ходит и тактильным образом помогает  быть на высоте вашей Уштрасаны, Дханурасаны или Триконасаны. Ритмично, одинаково от класса к классу, профессионально. Без мантр, музыки и других отвлекающих факторов.


      a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/chai.jpg" )
        .teachers__teacher__meta
          p.teachers__name Юлия Чай
          .teachers__teacher__desc
            p.teachers__teacher__text  Юлия Чай - сертифицированный преподаватель кундалини-йоги (KRY, Yoga Alliance, Golden Bridge, США)
            p.teachers__teacher__text Гештальт-консультант (Санкт-Петербургский Институт Гештальта).  
            p.teachers__teacher__text  Блогер, журналист, внештатный автор Yoga Journal Russia, главный редактор онлайн-издания Kundalini Journal, издатель pdf-книг Kundalini Book.


      a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/vish.jpg" )
        .teachers__teacher__meta
          p.teachers__name Vishnu Sharan Shukla
          .teachers__teacher__desc
            p.teachers__teacher__text  Вишну Шукла – брамин в 4 м поколении из Варанаси,  занимается йогой с 3 х лет, сертифицированный преподаватель йоги (SVYASA - Swami Vivekananda Yoga Anusandhana Samsthana, Университет йоги, г. Бангалор, Индия) и OM Healing (практика ОМ-Хилинг) с 16-летним стажем практики. 
            p.teachers__teacher__text  Очень интересная практика от первоисточника и мы рекомендуем побывать на ней всем хотя бы однажды. Занятие ведётся на русском языке с небольшими отступлениями на английском и хинди.


      a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/brazh.jpg" )
        .teachers__teacher__meta
          p.teachers__name Валерий Бражников
          .teachers__teacher__desc
            p.teachers__teacher__text  Практикует  йогу с 2009 года. В 2014 году окончил курс «Подготовки преподавателей» в Аштанга йога центре (Санкт-Петербург). В 2016 году окончил курс «Йогатерапия»  в Санкт-Петербургском институте восточных методов реабилитации, под руководством Артёма Фролова. Цель занятий Валерия дать базовое понимание практики, рекомендации, корректировки для дальнейшего личного развития. Подходит как новичкам, так и продвинутым студентам. Каждый раз Валерий показывает новые комплексы асан, порой удивляя изобретательными балансами и виньясами даже опытных практикующих.

      a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/ant2.jpg" )
        .teachers__teacher__meta
          p.teachers__name Алёна Антонова
          .teachers__teacher__desc  
            p.teachers__teacher__text Преподаватель узкой специализации: все практики Алёны строятся на бережных принципах работы с позвоночником во время занятий йоги. Прошла инструкторский курс в Киевской школе йоги (Международная Федерация и КПП (Ваджра йоги). Ваджра Йога - это целостная система, включающая философию, психологию и ряд методов работы с телом, направленная на понимание собственной природы и избавление от страданий. В физическом аспекте используется только корректный подход к позвоночнику (без скручиваний, наклонов в бок и глубоких деформаций позвоночника, ранее называемый "йогой КПП"). Утренние классы с Алёной будут идеальным началом дня для тех, у кого сидячая работа, а также имеются проблемы со спиной (грыжи, сколиозы).

      a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/barin.jpg" )
        .teachers__teacher__meta
          p.teachers__name Илья Баринов
          .teachers__teacher__desc
            p.teachers__teacher__text  Заботливый и обольстительный герой йога-будней  Илья намнёт вам кости при 36 градусах и волею судьбы укрепит вам таз, щитовидку и каждое ребро.
            p.teachers__teacher__text  После его занятий чувствуется каждая мышца, не зря мы иногда добавляем приставку Power к его Hatha. Силовое двухчасовое занятие всегда оказывается непохожим на предыдущее. Практика хороша для смельчаков, которые не боятся сделать вызов самим себе и проверить, на что способен его организм. Идеально для спортсменов, худеющих, а также людей, кто за короткий промежуток времени желает получить рельеф на теле. 
            p.teachers__teacher__text  30 минут занятия занимает  шавасана с поющими чашами – о ней, как и об ироничной подаче мастера, в Петербурге ходят легенды.


      a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/bor.jpg" )
        .teachers__teacher__meta
          p.teachers__name Ольга Бородина
          .teachers__teacher__desc
            p.teachers__teacher__text Проходила обучение у ведущих мастеров России, Таиланда, Индии и Америки по направлениям: хатха йога, йоготерапия; мастер-классов по йоге Айенгара, кундалини йоге, forrest yoga, APNEA-YOGA, Rock Yoga, тантре, различным видам медитации, двигательной терапии, аутентичному движению, медитации в танце.  Интегрирует разные направления в свой стиль. Верит, что сила - в единстве, а красота и свет - внутри каждого. Опыт практики более 6 лет, преподавания 3 года. Сертификация: YTTC 200 hrs Abbysan Yoga, Phuket, Thailand
      
      a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/dya.jpg" )
        .teachers__teacher__meta
          p.teachers__name Сергей Дьячков
          .teachers__teacher__desc
            p.teachers__teacher__text Занятия с Сергеем Дьячковым, это комплекс эксцентрических упражнений - на включение и укрепление мышц и сухожилий. 
            p.teachers__teacher__text Восстановление правильной биомеханики всего тела. Комплексы всегда  включает в себя ряд упражнений из:
            .teachers__teacher__text 
              ul
                li классической Hatha Yoga
                li  методики доктора Блюма
                li системы 'Исцеляющий Импульс Голтиса.
                li суставной гимнастики "'Сукшма Вьяямы''
                li упражнений для живота из крия-йоги
                li дыхательных и энергетических техник из йоги и цигун.
            p.teachers__teacher__text  В течение 9 лет жил и обучался в академии йоги у мастера Свами Вишнудевананда Гири и получил передачи в техники: 
            .teachers__teacher__text
              ul
                li Раджа-йоги 
                li Кундалини йоги 
                li Чакра-йоги
                li Нидра- йоги 
                li Нада-йоги
                li Джоти-йоги
                
            p.teachers__teacher__text  А также, в практики цигун от монаха Шаолинь - Ши Янбин. и тайцзи-цюань от мастера стиля Ян - Ананда Садху. Петербурге. Ведёт классы по йоге, цигун, карате и медитации. Опираясь на свой личный опыт и опыт мастеров древности и современности, создал свою авторскую методику развития личности - SupreMe''

