extends layouts/main.pug

block content
  section.content
    
    .popup
      .popup__bg
      .popup__content

    h2.content__title ПРЕПОДАВАТЕЛИ
    div.teachers

      a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/horohorin.jpg" )
        .teachers__teacher__meta
          p.teachers__name Максим Хорохорин
          .teachers__teacher__desc
            p.teachers__teacher__text Является идеологом нашей студии. Количество практик, которые ведёт Максим, постоянно расширяется, как и количество сертификатов и дипломов. Особое внимание преподаватель уделяет дыхательным упражнениям - пранаяме (осознанный контроль за вдохами, выдохами, задержками дыхания) и умению работать с бандхами (что в переводе с санскрита "замок"). Будьте уверены: физическая нагрузка будет интересной и нетривиальной, а все комплексы плавно переходят друг от друга постепенно, набирая скорость движений и интенсивность. На разных практиках вы разберёте позы Воина и Короля танцев, научитесь отличать Полёт Гаруды и Орла, осознаете себя цельным как скала, отработаете скрутки, поймёте суть чередования напряжения и расслабления. 
            p.teachers__teacher__text Чаще всего Максим ведёт все свои практики в определенной последовательности (эту идею он почерпнул у Бикрама Чоудхури, одноименная практика которого также есть в его арсенале), так что при регулярных занятиях вы перестанете отвлекаться на лишние мысли и слежение за преподавателем и намного легче попадёте в йога-поток. Работа на классах Максима идёт по всем направлениям – физиологическому (особенно на практиках Максима прокачиваются мышцы ног и спины), энергетическому, эмоциональному, интеллектуальному, каузальному. В конце практики по Хатха-йоге вас ждет глубокая Шавасана с элементами Йога-Нидры и пение мантры ОМ.            
            p.teachers__teacher__text На сегодняшний день Максим ведёт хатху йогу в трёх воплощениях:
            .teachers__teacher__text 
              ul
                li Размеренная Hatha Yoga под классические индийские мелодии и умиротворяющую музыку, написанную по особым законам герц.
                li Качовая Hot Yoga Beat  - под современный плейлист и в необычной атмосфере красно-фиолетового освещения со множеством свечей и в бликах диско шара.
                li Bikram последовательность - состоящая из 26 одних и тех же асан во всём мире.

            p.teachers__teacher__text А также: 
            .teachers__teacher__text 
              ul
                li Пранаяма - техника, где с помощью дыхания можно воздействовать на своё психоэмоциональное состояние.
                li Авторская практика Salt Health Yoga  - синтез техник пранаямы, кундалини и крийя йоги с использованием соляных светильников и мягкого воздействия светом.

            p.teachers__teacher__text Максим является сертифицированным инструктором по Хатха Йога, амбассадором брендов Reebok и Adidas на фестивалях “Wanderlust108” и “Стань Человеком”, куратором йога-зоны фестиваля “Ода.Еда” (2018), лектором «Первой Петербургской йога-конференции».

      a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/kondratyeva.jpg" )
        .teachers__teacher__meta
          p.teachers__name Дарья Кондратьева
          .teachers__teacher__desc
            p.teachers__teacher__text Начала практиковать йогу в 2006 году, преподаёт с 2013. Прошла обучение инструкторов горячей йоги у Лоренца Джейя, получила два сертификата Yoga Alliance (RYT 200) в Петербурге и Индии.
            p.teachers__teacher__text «Побывав на многих семинарах, международных конференциях и мастер-классах, практикуя различные стили йоги, у меня постепенно сложился собственный стиль преподавания, который вобрал в себя все самое эффективное, что я узнала за последние годы. Движение, поток, концентрация, дыхание, осознанность, наблюдение ощущений - главные составляющие фокуса моих классов в стиле виньяса флоу», - рассказывает Дарья.
            p.teachers__teacher__text Дарья – та самая девчонка с особым завораживающим латышским акцентом и собирающая полные залы, несмотря на высокую интенсивность её классов.

      a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/bolt.jpg" )
        .teachers__teacher__meta
          p.teachers__name Андрей Болтян
          .teachers__teacher__desc
            p.teachers__teacher__text Ключевая фигура в мире йогов Петербурга в принципе. Андрей пришёл к йоге как к пути к здоровью и восстановлению после серьёзной карьеры в карате, где, по его словам, получил большие разрушения тела. Сертифицированный преподаватель, член Ассоциации Профессиональных Висцеральных Терапевтов, совершенствуется в традиции Шивананда и Сатьянанда хатха и Крия йоги. 
            p.teachers__teacher__text Андрей по праву считается одним из ведущих преподавателей Санкт-Петербурга. Очень ответственно подходит к своим практикам, много внимания уделяет отстройкам асан и каждому ученику на занятиях, которое, к слову, длится не 90 минут, а 120! Практики у Андрея всегда разные, неизменно силовые, комплексы необычные. Мы уверены: после нескольких занятий с ним вы сможете легко и безопасно выполнять эффектную стойку на руках и голове!
            p.teachers__teacher__text Андрей также славится своим особым петербуржским стилем ведения классов и чувством юмора.
            p.teachers__teacher__text Обучался в центрах йоги Айенгара у  Сергея Михайлова и Татьяны Бородаенко, в  Аштанга Йога Центре (СПб) у Александра Никитина. Участвовал в тренингах-интенсивах по хатха йоге Фаека Бириа (Париж),  Елены Ульмасбаевой (Москва), Бал Мукунд Сингха (Дели), Виджая Амара, а также интенсивах по аштанга виньяса йоге у Михаила Константинова,  Марка Дерби и Шарата Рангасвами Джойса. Перенимал опыт йогатерапии у Татьяны Мирончук (Минск), Марины Цуриковой и Артема Фролова. 
      
      a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/kuchaeva.jpeg" )
        .teachers__teacher__meta
          p.teachers__name Надежда Кучаева
          .teachers__teacher__desc
            p.teachers__teacher__text 
              | Надя – необычный преподаватель нашей студии. Являясь редактором отдела промо и анонсов московского телеканала "Москва24" и молодой мамой – она преподает в нашей студии Бикрам йогу. Её личная практика началась больше 10 лет назад. Перепробовав направления кундалини, айенгара, шивананда и долго не находя своего стиля, она, наконец, оказалась в первой Бикрам студии России в Москве 5 лет назад. Именно на этих занятиях она поняла, что её личный поиск окончен и идеальная практика йоги найдена. 
              br
              | Бикрам йогу Надя практиковала до 9 месяца беременности, так что если вы планируете ребёнка, но не хотите бросать тренировки в горячем зале – к ней всегда можно обраться за личной консультацией на основе её собственного опыта. 
              br
              | Позже Надежда вернулась из Москвы в Петербург и стала вести классические бикрам классы, которые популярны во всем мире: чёткий голос преподавателя, никакого музыкального сопровождения и строгая последовательность асан, повторяющаяся из раза в раз.

      a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/gusev.jpg" )
        .teachers__teacher__meta
          p.teachers__name Максим Гусев
          .teachers__teacher__desc
            p.teachers__teacher__text Максим Гусев – самый молодой  (25 лет) и очень перспективный преподаватель. За 5 лет личной практики, он прошёл сертифицированное обучение в Индии в Himalayan Yoga Academy на базе Крийя йога ашрама, у таких мастеров как: Йогачарья Санжив Пандей Джи, Йогачарья Ашиш Кумар Шарма, Йогачарья Анил, Аниш Кришна Бишт. Длительное время путешествовал по святым местам Индии и Непала. Занимается организацией йога-путешествий по местам силы юго-восточной Азии.

            p.teachers__teacher__text «Я постарался впитать лучшее из аштанги Патабхи Джойса, детальной отстройки по Айенгару, глубокого расслабления по Свами Сатьянанде Сарасвати.
            p.teachers__teacher__text В своем подходе особое внимание уделяю взаимодействию трех элементов:
            .teachers__teacher__text 
              ul
                li - Осознанный контроль дыхания 
                li - Управление вниманием 
                li - Структурная отстройка асан», - рассказывает Максим.
            p.teachers__teacher__text Фишка Максима: для более глубокого погружения в практику йоги он использует работу со звуком: поющие тибетские чаши (кованные и хрустальные), колокольчики Коши, глюкофон и бубен. Завораживающие звуки этих медитативных инструментов помогают ещё больше отключиться от восприятия внешнего мира и погрузиться в состояние йоги. Их звучание вы можете услышать в шавасане на практиках хатха йоги с Максимом или насладиться полуторачасовой йогой Нидра. Он также является постоянным участником выездных ретритов нашей студии.

      a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/lyapina.jpeg" )
        .teachers__teacher__meta
          p.teachers__name Наталья Ляпина
          .teachers__teacher__desc
            p.teachers__teacher__text Профессиональная танцовщица, актриса танцевального театра.
            p.teachers__teacher__text Сертифицированный хатха йога тичер в традиции школы Патанджали. Практикует хатху йогу с 2007 года, а с 2015 в личной практике появилась Аштанга йога. На данный момент обучается в институте KPJAYI MYSORE INDIA.
            p.teachers__teacher__text «Считаю, что к йоге нужно прийти самому, очень важно найти своего учителя и без юмора - йога просто невозможна!», - делится наблюдениями Наталья. 
            p.teachers__teacher__text В нашей студии особой популярностью пользуются пилатес-классы с Наташей, которые с 2019 года приобрели приставку Inferno. Это новое направление интервальных 60 минутных тренировок, завоевавших рынок Америки. Не доверяете «скучной» йоге, но хотите попасть к нам в студию – выбирайте именно эти классы.
            p.teachers__teacher__text На занятиях всегда играет драйвовая популярная зарубежная музыка, а преподаватель умело подбадривает своих учеников и не дает расслабляться, что делает тренировки максимально эффективными.
            p.teachers__teacher__text Также Наталя Ляпина ведёт классы по Бикрам йоге с детальной отстройкой асан.
      
      a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/barinov.jpg" )
        .teachers__teacher__meta
          p.teachers__name Илья Баринов
          .teachers__teacher__desc
            p.teachers__teacher__text Заботливый и обольстительный герой йога-будней, Илья намнёт вам кости при 36 градусах и волею судьбы укрепит вам таз, мышцы брюшной полости, щитовидку и каждое ребро. Преимущественно ведёт двухчасовые классы – будьте внимательны при планировании времени.
            p.teachers__teacher__text После его занятий чувствуется каждый сантиметр тела, не зря мы добавляем приставку Power к его Hatha. Каждое силовое двухчасовое занятие всегда оказывается непохожим на предыдущее. Практика хороша для смельчаков, которые не боятся сделать вызов самим себе и проверить, на что способен его организм. Или для тех, кто хочет добавить совершенства к своему телу (кстати, у самого Ильи оно образцовое!).
            p.teachers__teacher__text Идеально для спортсменов, худеющих, а также желающих быстро получить рельеф. Те, кто при слове «йога» в своей голове рисует картинку спокойно сидящего в лотосе человека под звуки природы – неизменно спрашивают после занятий с Ильей: «А это точно была йога? Почему мы тогда отжимались и качели пресс?». Да, друзья! Это самая настоящая йога.

            p.teachers__teacher__text Илья Баринов - выпускник Академии русского балета им. А.Я. Вагановой.
            p.teachers__teacher__text Балетмейстер, хореограф, танцовщик высшей категории, солист.
            p.teachers__teacher__text Актер Театральной Лаборатории под руководством В. Максимова.
            p.teachers__teacher__text Преподаватель современной хореографии.

            .teachers__teacher__text 
              ul
                li Сертифицированный преподаватель йоги, аэройоги (йога в гамаках).
                li Даосских практик: Тайцзицюань, Цигун.
                li Трёхкратный чемпион Европы по Тайцзицюань.
                li Официальный инструктор йоги футбольного клуба «Зенит».

      a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/sveta.jpg" )
        .teachers__teacher__meta
          p.teachers__name Светлана Константинова
          .teachers__teacher__desc
            p.teachers__teacher__text К Светлане у нас максимальное уважение: ее колоссальный опыт и мягкий голос пленяют. За казалось бы простыми упражнениями скрываются ключи к восстановлению организма. С ней можно поговорить на самые разные темы, включая интимное и гормональное здоровье, сбор лечебных трав и эффективность советских гимнастик.
            p.teachers__teacher__text «Я занимаюсь йогой и подобными системами более 17 лет, сертифицированный преподаватель Хатха-йоги. Обучалась у мастеров России и Индии. Образование высшее педагогическое (РГПУ им. Герцена). Владею широким спектром методик в системе психо-физических практик (йога Айенгара, Аштанга-виньяса, суставная гимнастика Дх.Брахмачари, школа А.Сидерского, Г. Менжинской, Метод гормональной и волновой гимнастики О. И. Мамаева, метод МФР с Blackroll /миофасциальное расслабление и др.). Уникальность моих занятий заключается в использовании Метода волновой и гормональной гимнастики, одной из самых быстродействующих техник по приведению тела "в порядок", как показал опыт и отзывы людей. 
            p.teachers__teacher__text Метод в короткие сроки восстанавливает нормальную работу желез внутренней секреции, что важно и мужчинам, и женщинам. Гормоны – это наше настроение, эмоции, когнитивные способности (память, интеллект), состояние кожи, сексуальная привлекательность, физическая сила, гибкость. Регулярная практика приводит к естественному, глубокому расслаблению физических и ментальных структур человека, что способствует оптимальной работе всего организма. 
            p.teachers__teacher__text Это позволяет более эффективно решать повседневные задачи, достигать цели и ощущать краски жизни, - подробно рассказывает Светлана.

      a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/merzlyakov.jpg" )
        .teachers__teacher__meta
          p.teachers__name Владимир Мерзляков
          .teachers__teacher__desc
            p.teachers__teacher__text Имеет интереснейший жизненный опыт за плечами: легко разбирается в крепких напитках (благодаря 12 летнему опыту бармена в клубах разной направленности обеих столиц), кроулианстве, шаманских практиках. Все студенты отмечают его особенную мощную силу и необычную энергетику, которая отражается во всей невербалике Владимира. Он способен управлять и держать огромные аудитории голосом, что даже уставшие студенты не ложатся отдыхать, пока Владимир не объявит общую финальную шавасану. 
            p.teachers__teacher__text «Долгое время я находился в поиске себя. Всё больше книг, историй "из первых уст" о погружении внутрь вывели меня к шаманским практикам камлания и глубоким вибрациям, где все стало другим. В одном из таких состояний тело стало принимать незамысловатые положения, которые были очень похожи на асаны, после чего я стал смотреть в сторону йоги все больше и больше. После первых практик конкретно йоги с повязкой на глазах или слепой йоги, все тело стало чувствовать себя по другому. Тогда я ещё не знал какой путь мне подготовила "вкладка" жизни под названием йога, и то как много я сил и внимания устремил на эти практики, объединяя внутреннее состояние и внешние факторы практик. После нескольких курсов на инструктора йоги, на многие внутренние вопросы я нашел ответы, но вопросов стало ещё больше», - не скрывая фактов своей скандальной биографии делится Вова.
            p.teachers__teacher__text Владимир закончил наш первый курс Hot yoga 36  по Горячей йоге, а также получил диплом в School of professional fitness (524 часа), помимо множества других мастер-классов и тренингов.  Является сертифицированным преподавателем йоги и стретчинга, а также реабилитологом. 
            p.teachers__teacher__text «Мои основные принципы - не навредить. Внешнее - отражение внутреннего. Внутри есть все ответы на вопросы, но не ко всем ответам мы готовы прямо сейчас. Внутренний покой и тишина - "ключ" к собственному Я», - расставляет приоритеты Владимир.

      a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/yarkina.jpg" )
        .teachers__teacher__meta
          p.teachers__name Кристина Яркина
          .teachers__teacher__desc
            .teachers__teacher__text Карьеру в нашей студии начала с первого дня запуска. В роли администратора. Кристина занималась йогой, боксом, а в 2018 году окончила первый курс по горячей йоге Hot Yoga 36. Успешно сдав экзамены начала вести классы с нашей фирменной последовательностью - адаптированный для горячего зала комплекс асан из хатха йоги, а с 2019 года выучила практику Hot Inferno Pilates, где собирает аншлаги и заряжает всех особым настроением и фирменной фишкой – подпевать A-ha и подбадривать студентов прямо в микрофон!

      a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/pokudin.jpg" )
        .teachers__teacher__meta
          p.teachers__name Александр Покудин
          .teachers__teacher__desc
            .teachers__teacher__text Заниматься йогой и преподавать начал сравнительно недавно. Вернулся из Ришикеша (Индия), где окончил 200-часовой курс на преподавателя по йоге в одной из лучших школ Shiva Yoga Peeth, входящей в международный альянс йоги.
            .teachers__teacher__text «Мы каждый день по три часа практиковали хатха и аштанга-йогу, изучали выстраивание асан, анатомию человеческого тела, философию йоги, пранаямы, медитации и очищающие процедуры. А вишенка на торте - 108 погружений в Гангу при температуре +5 градусов», - рассказывает Саша.
            .teachers__teacher__text Йога для Саши перевернула всю его жизнь, и он с большим удовольствием рассказывает о своем опыте людям в своем блоге и на классах, вызывая вдохновение у тех, кто делает в йоге свои первые шаги. С ним комфортно, жизнерадостно и, как говорят, новички нашей студии «легко, приятно и расслабленно»: занятия с ним бодрые, понятные и доступные абсолютно каждому. 

      a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/artemeva.jpg" )
        .teachers__teacher__meta
          p.teachers__name Анна Артемьева
          .teachers__teacher__desc
            .teachers__teacher__text Яркая, необычная, харизматичная и боевая Дива, обладательница сертификата по Универсальной Йоге Андрея Лампы и создательница Nude Blog (Если вы знакомы с банным кайфом - непременно о ней слышали!). На классах будет крутить вас на все 4 стороны света, рождать новые нейронные связи в ваших головах и ставить в затейливые положения. Придя хотя бы раз к ней на урок – вы больше никогда ни с кем ее не перепутаете.


      a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/abanosimov.jpg" )
        .teachers__teacher__meta
          p.teachers__name Алексей Абаносимов
          .teachers__teacher__desc
            .teachers__teacher__text Алексей – коренной москвич с интересной родословной, повлиявшей на его становление и интерес  к йоге еще в детстве. В 2010 закончил полугодовой курс в культурном центре им. Джавахарлала Неру при посольстве Индии, который проводил Dr Surej Babu.
            .teachers__teacher__text После отучился и сертифицировался на преподавателя у А. Верба при клубе OUM.RU в 2012 г.
            .teachers__teacher__text Практиковал различные стили: Универсальная йога, Гималайская йога, Аштанга Йога, Кундалини Йога, Дживамукти Йога, Синерджи Йога, Йога Флоу. И на данный момент преподает классическую Хатха Йогу с элементами Синэрджи, Аштанга Йоги, Йога Флоу и дыхательными техниками Гималайской Йоги. Занятия с Алексеем проходят в спокойном режиме с несколькими вариантами асан: от простого к сложному. Чутко ориентируется на общую энергию в зале и индивидуальные особенности человеческого тела. Внимательный преподаватель с обстоятельными объяснениями.
            .teachers__teacher__text «Применяю принцип «энергия первична, материя вторична» Для меня важно, чтобы каждый человек чувствовал эту энергию в теле, а также понимал принципы работы с ней, и, опираясь на базу классических и современных школ, раскрывался индивидуально», - рассказывает Алексей.
            .teachers__teacher__text Также является автором многочисленных аудио книг на тему Йоги.

      a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/litomina.jpg" )
        .teachers__teacher__meta
          p.teachers__name Анна Литомина
          .teachers__teacher__desc
            .teachers__teacher__text Красотка.

      a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/dya.jpg" )
        .teachers__teacher__meta
          p.teachers__name Сергей Дьячков
          .teachers__teacher__desc
            p.teachers__teacher__text Занятия с Сергеем Дьячковым, это комплекс эксцентрических упражнений - на включение и укрепление мышц и сухожилий. 
            p.teachers__teacher__text Восстановление правильной биомеханики всего тела. Комплексы всегда включает в себя ряд упражнений из:
            .teachers__teacher__text 
              ul
                li классической Hatha Yoga
                li методики доктора Блюма
                li системы Исцеляющий Импульс Голтиса
                li суставной гимнастики Сукшма Вьяямы
                li упражнений для живота из крия-йоги
                li дыхательных и энергетических техник из йоги и цигун.
            p.teachers__teacher__text Мы гарантируем, что если вы начнете свой день с Воркаута с обаятельным и заряжающим Сергеем (который, к слову, 9 лет провел в Монастыре, где обучался различным энергетическим практикам) – ваш день будет заряжен на удачу.

      a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/grusdeva.jpg" )
        .teachers__teacher__meta
          p.teachers__name Дарья Груздева
          .teachers__teacher__desc
            .teachers__teacher__text Дарья Груздева – выпускница нашего Сертифицированного Курса по Горячей йоге Hot Yoga 36 (Выпуск 2018 года). Закончила АРБ им. А.Я.Вагановой. Действующая балерина, которая вместе с гастролями «Лебединого озера» и «Дон Кихот» объездила весь земной шар. Увлекается современным танцем, а с 2016 занимается йогой. 
            .teachers__teacher__text Дарья разработала собственную методику растяжки с элементами классического русского балета и медитативных техник йоги и ведет в нашей студии класс под названием Hot Ballet Stretching. Практика адаптирована для широкого круга людей и пользуется спросом как у профессиональных танцоров и мастеров йоги, так и у спортсменов и обычных людей.

      a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/shanti.jpg" )
        .teachers__teacher__meta
          p.teachers__name Шанти
          .teachers__teacher__desc
            .teachers__teacher__text Начала заниматься йогой в 2001.
            .teachers__teacher__text Проходила обучение в Петербургской школе инструкторов по йоге ( YOGAFLOW SYSTEM ). Прошла обучение инструкторов горячей йоги и авторской методики канадского преподавателя Лоренса Джея, получила сертификат Yoga Alliance ( RYT 200)
            .teachers__teacher__text В 2015 году получила 3 ступень Мастера Рэйки. Обучалась на курсе Галины Менжинской "Целостный подход к практике йоги". В 2017 году проходила обучение в Институте Аштанга Йоги (KPJAYI) в Индии ( г. Майсур). В 2018 пошла курс учителей по аштанга йоги с Марком Дарби. А в 2019 получила сертификат по направлению Дживамухти Йога.
            .teachers__teacher__text Долгое время занималась Капоэйро и акробатикой. 
            .teachers__teacher__text В результате полученных знаний и опыта сформировался гибкий подход к практике.
            .teachers__teacher__text «Для меня йога это прежде всего мощный и действенный инструмент для полноценного,  гармоничного развития на всех уровнях человеческого существа.
            .teachers__teacher__text Практика помогает оставаться в гармонии, жить полной, насыщенной жизнью, осознанно принимая все, что происходит, видеть возможности для развития и уникальность каждого момента», - говорит Шанти.

      a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/cleo-sq.jpg" )
        .teachers__teacher__meta
          p.teachers__name Клео
          .teachers__teacher__desc
            p.teachers__teacher__text 
              | Клео ведёт в нашей студии утренние воркауты, от которых у большинства головокружение в лучшем смысле этого слова. На классах у Клео настоящее комбо элементов театральной пластики, hip hop танцев, капоэйра и упражнений из фитнеса. Готовьтесь к разного рода неожиданностям: например, вас могут попросить "кататься колбаской" или "изобразить кобру на охоте". Занятия с ней заряжают бодростью и хорошим настроением не только на день, но и на неделю вперед. А мыщцы после её классов приятно ноют.


      a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/ant2.jpg" )
        .teachers__teacher__meta
          p.teachers__name Алёна Антонова
          .teachers__teacher__desc  
            p.teachers__teacher__text Преподаватель узкой специализации: все практики Алёны строятся на бережных принципах работы с позвоночником во время занятий йоги. Прошла инструкторский курс в Киевской школе йоги (Международная Федерация и КПП (Ваджра йоги). Ваджра Йога - это целостная система, включающая философию, психологию и ряд методов работы с телом, направленная на понимание собственной природы и избавление от страданий. В физическом аспекте используется только корректный подход к позвоночнику (без скручиваний, наклонов в бок и глубоких деформаций позвоночника, ранее называемый "йогой КПП"). Утренние классы с Алёной будут идеальным началом дня для тех, у кого сидячая работа, а также имеются проблемы со спиной (грыжи, сколиозы).

      a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/antonova-2.jpeg" )
        .teachers__teacher__meta
          p.teachers__name Василина Антонова
          .teachers__teacher__desc
            p.teachers__teacher__text
              | Преподаватель древних китайских практик и стретчинга по особой методике. На протяжении 5 лет в поисках себя и истины обошла полмира по Святым местам, горам, степям. Смело объединяя Даосские, Буддийские, Мусульманские и Православные знания. Не разделяя силу волю, веру и любовь на религии, прошла 6 обучающих курсов в Китае, Тибете по направлениям Цигун и Хилинг. Следуя за 5 сильнейшими мастерами, получила международный сертификат учителя в Китае Zhineng Qigong International school «Harmonious big family».
              br
              | Василина является Мастером Спорта по художественной гимнастике.
              br
              | Занятия по стретчингу с Василиной  - это гарантированное растяжение и проработка всех мыщц, здесь она использует классическую методику российской художественной гимнастики и технику глубокого расслабления. Аккомпанемент, как правило, ритмы шаманского бубна.
              br
              | «Также я веду классы по медитациям и женским практикам. Пробуждаю дух в людях, веру в себя и источник безграничной любви!», - рассказывает Василина.

      //a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/ere.jpg" )
        .teachers__teacher__meta
          p.teachers__name Анна Ерешко
          .teachers__teacher__desc
            p.teachers__teacher__text Этот класс идеален для тех, кто предпочитает менее энергичные классы.  
            p.teachers__teacher__text Хот Хатха йогу с Анной Ерешко между собой зачастую называют "Практикой для девочек": подсветка в зале во время её урока чаще всего цвета заката на океане, а вместо музыки для занятий Анна любит крики чаек и звуки живой природы. 
            p.teachers__teacher__text В своей практике Аня использует множество оригинальных скруток и уделяет большое количество времени классическому комплексу «Сурья Намаскар». Мягкая подача и бережность класса хорошо подходит для новичков.

      //a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/sem.jpg" )
        .teachers__teacher__meta
          p.teachers__name Игорь Семенов
          .teachers__teacher__desc
            p.teachers__teacher__text Ошеломляющий классический бикрам-класс с Игорем Семёновым подходит и для тех, кто супер асс и для тех, кто посматривает хлопающими глазами с неуверенностью в правильности выполнения, с волнением, почему защемилось бедро или куда идти, если не гнётся. Занятие проходит в тишине, только голос Игоря в микрофон: чёткий посекундный инструктаж с подробными объяснениями и, не поверите, вмешательством в ваши возможности!
            p.teachers__teacher__text Игорь следит даже за малейшим движением, голосом дотягивает вашу ногу и втягивает колено. Игорь тихо ходит и тактильным образом помогает  быть на высоте вашей Уштрасаны, Дханурасаны или Триконасаны. Ритмично, одинаково от класса к классу, профессионально. Без мантр, музыки и других отвлекающих факторов.

      //a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/chai.jpg" )
        .teachers__teacher__meta
          p.teachers__name Юлия Чай
          .teachers__teacher__desc
            p.teachers__teacher__text  Юлия Чай - сертифицированный преподаватель кундалини-йоги (KRY, Yoga Alliance, Golden Bridge, США)
            p.teachers__teacher__text Гештальт-консультант (Санкт-Петербургский Институт Гештальта).  
            p.teachers__teacher__text  Блогер, журналист, внештатный автор Yoga Journal Russia, главный редактор онлайн-издания Kundalini Journal, издатель pdf-книг Kundalini Book.

      //a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/vish.jpg" )
        .teachers__teacher__meta
          p.teachers__name Vishnu Sharan Shukla
          .teachers__teacher__desc
            p.teachers__teacher__text  Вишну Шукла – брамин в 4 м поколении из Варанаси,  занимается йогой с 3 х лет, сертифицированный преподаватель йоги (SVYASA - Swami Vivekananda Yoga Anusandhana Samsthana, Университет йоги, г. Бангалор, Индия) и OM Healing (практика ОМ-Хилинг) с 16-летним стажем практики. 
            p.teachers__teacher__text  Очень интересная практика от первоисточника и мы рекомендуем побывать на ней всем хотя бы однажды. Занятие ведётся на русском языке с небольшими отступлениями на английском и хинди.

      //a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/brazh.jpg" )
        .teachers__teacher__meta
          p.teachers__name Валерий Бражников
          .teachers__teacher__desc
            p.teachers__teacher__text  Практикует  йогу с 2009 года. В 2014 году окончил курс «Подготовки преподавателей» в Аштанга йога центре (Санкт-Петербург). В 2016 году окончил курс «Йогатерапия»  в Санкт-Петербургском институте восточных методов реабилитации, под руководством Артёма Фролова. Цель занятий Валерия дать базовое понимание практики, рекомендации, корректировки для дальнейшего личного развития. Подходит как новичкам, так и продвинутым студентам. Каждый раз Валерий показывает новые комплексы асан, порой удивляя изобретательными балансами и виньясами даже опытных практикующих.

      //a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/bor.jpg" )
        .teachers__teacher__meta
          p.teachers__name Ольга Бородина
          .teachers__teacher__desc
            p.teachers__teacher__text Проходила обучение у ведущих мастеров России, Таиланда, Индии и Америки по направлениям: хатха йога, йоготерапия; мастер-классов по йоге Айенгара, кундалини йоге, forrest yoga, APNEA-YOGA, Rock Yoga, тантре, различным видам медитации, двигательной терапии, аутентичному движению, медитации в танце.  Интегрирует разные направления в свой стиль. Верит, что сила - в единстве, а красота и свет - внутри каждого. Опыт практики более 6 лет, преподавания 3 года. Сертификация: YTTC 200 hrs Abbysan Yoga, Phuket, Thailand
      
      //a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/olga-kulakova.jpg" )
        .teachers__teacher__meta
          p.teachers__name Ольга Кулакова
          .teachers__teacher__desc
            p.teachers__teacher__text 
              | Ольга Кулакова, Сертифицированный инструктор хатха йоги по авторской методике Анатолия Зенченко. 
              br
              | Основная задача методики – достижение «состояния внутренней целостности». Состояние внутренней целостности, максимально полное, гармоничное и эффективное взаимодействие разных частей тела между собой, в любом положении тела в пространстве. Вместо того, что бы растягивать отдельные части тела, отдельные мышцы, мы просто балансируем их состояние относительно других мышц. Выстраивая тренировочную последовательность от простого к сложному, мы двигаемся постепенно, стараясь сохранить естественный комфорт и дыхание в асанах, и тем самым лучше начинаем чувствовать и понимать себя и своё тело.

      //a.teachers__teacher
        .teachers__img-wrap
          img.teachers__img( src="/assets/anelia-valeeva.jpg" )
        .teachers__teacher__meta
          p.teachers__name Анелия Валеева
          .teachers__teacher__desc
            p.teachers__teacher__text
              | Анелия Валеева В 2016-2017 прошла сертифицированный курс Йога Альянса США по Универсальной йоге (авторский стиль Андрея Витальевича Лаппы). Преподает в рамках метода Универсальной Йоги, суть метода заключается в аутентичном понимании Йоги как традиции Единения. Метод включает в себя практики для проработки всех оболочек человека (в том числе физической, энергетической, психической, ментальной), разностороннее гармоничное развитие человека. Анелия славится своими силовыми уроками и нагрузками, которые будут интересны как начинающим, так и продвинутым студентам. Ее классы нередко посещают преподаватели из других студий, так как Анелия всегда готова предложить новое даже тем, кому кажется, что развиваться дальше уже некуда, каждый раз открывая перед людьми новые грани внутренней силы и выносливости. 