extends layouts/main.pug

block content
    section.content
        h2.content__title ПРЕПОДАВАТЕЛИ

        div.teachers

            a.teachers__teacher
                img.teachers__img( src="/assets/abr.jpg" )
                p.teachers__name Диана Аброськина

            a.teachers__teacher
                img.teachers__img( src="/assets/obs.jpg" )
                p.teachers__name Максим Хорохорин

            a.teachers__teacher
                img.teachers__img( src="/assets/ant.jpg" )
                p.teachers__name Анастасия Антонова


            a.teachers__teacher
                img.teachers__img( src="/assets/ere.jpg" )
                p.teachers__name Анна Ерешко

            a.teachers__teacher
                img.teachers__img( src="/assets/sem.jpg" )
                p.teachers__name Игорь Семенов

            a.teachers__teacher
                img.teachers__img( src="/assets/chai.jpg" )
                p.teachers__name Юлия Чай

            a.teachers__teacher
                img.teachers__img( src="/assets/vish.jpg" )
                p.teachers__name Vishnu Sharan Shukla

            a.teachers__teacher
                img.teachers__img( src="/assets/brazh.jpg" )
                p.teachers__name Валерий Бражников

            a.teachers__teacher
                img.teachers__img( src="/assets/velmozh.jpg" )
                p.teachers__name Екатерина Вельможная

            a.teachers__teacher
                img.teachers__img( src="/assets/ant2.jpg" )
                p.teachers__name Алёна Антонова

            a.teachers__teacher
                img.teachers__img( src="/assets/barin.jpg" )
                p.teachers__name Илья Баринов

            a.teachers__teacher
                img.teachers__img( src="/assets/bor.jpg" )
                p.teachers__name Ольга Бородина