extends layouts/main.pug

block content
    section.content
        .content__wrapper
            h4.content__subtitle(style="text-align: center; display: block; margin-top: 50px; font-size: 24px") Открытие в мае! Скоро подробности!
            