extends layouts/main.pug

block content
    section.content
        .content__wrapper
          p.content__text.
            Wanderlust 108 – самый грандиозный йога-фестиваль на планете и Hot Yoga 36 является официальным партнёром мероприятия с его первого дня существования в России!
          p.content__text.
            В этом году 13 июня в  центре Санкт-Петербурга, в Юсуповском саду, Международный фестиваль Wanderlust 108 пройдет в третий раз. Уже много лет он объединяет десятки тысяч поклонников йоги, бега и электронной музыки во всем мире. Wanderlust 108 – это спортивный триатлон, включающий забег на дистанцию, потоковые занятия йогой и медитацию, которые проводятся в центральных парках крупнейших мегаполисов мира.
          p.content__text.
            Вас ждет невероятная программа!
          ul
            li 5-километровый забег в Юсуповском саду
            li 1,5-часовой йога-сет 
            li 45-минутная медитация 
            li На фестивале будут играть знаменитые DJ, органично вписывая в свои сеты звучание мантр. Но и это еще не все! После триатлона вы сможете  послушать интересные, вдохновляющие лекции, поучаствовать во множестве мастер-классов, в том числе от наших преподавателей, а также выиграть наши абонементы, одежду и призы от других партнеров в конкурсах!

          a(href="https://wanderlust.com/ru/108-events/st-petersburg/" target="_blank")
            img.content__image(src="assets/wanderlust-logo.png" style="max-width: 100%; width: 400px")
          a.btn-of-order(href="https://wanderlust.com/ru/108-events/st-petersburg/" target="_blank" style="margin-top: 10px;") Купить билет
          
          p.content__text.
            <strong>Воспользовавшись промокодом hotyoga36 при покупке билета, вы получите максимальную скидку на билет и приятные подарки на входе! Помните: стоимость билета растёт каждые несколько недель. Рекомендуем планировать время и приобретать билеты заранее.</strong>

      