*, 
*:before, 
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.4
}

.container {
  //padding-left: 47px;
  margin:0 20px;
  position: relative;
  height: 100%;
  
  @include mq('desktop') {
    //margin:0 2vw;
  }
}

.content__wrapper {
  &_border {
    border: 2px solid #000;
    padding: 0 10px 0;
    margin-bottom: 40px;
    margin-top: 40px;
  }
}

.highlight {
  color: $color-highlight;
}