*, 
*:before, 
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.4
}

.container {
  //padding-left: 47px;
  margin:0 20px;
  position: relative;
  height: 100%;
  
  @include mq('desktop') {
    //margin:0 2vw;
  }
}