*, 
*:before, 
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.4
}

.container {
  //padding-left: 47px;
  margin:0 20px;
  position: relative;
  height: 100%;
  
  @include mq('desktop') {
    //margin:0 2vw;
  }
}


.predzapis-bikram {
  display: none;
  border: 2px solid #EF462E;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 20px;
  height: auto;
  font-size: 12px;
  margin-top: 10px;
  padding: 2px;

  @include mq('desktop') {
    display: block;
  }
}