.content {
  padding: 20px 20px 30px;
  min-height: 600px;
  position: relative;

  @include mq('desktop') {
    padding-left: 10%;
    padding-right: 10%;
  }
}

.content__columns {
  display: flex;  
  flex-wrap: wrap;
  flex-direction: column;
}

.content__column {
  @include mq('desktop') {
    flex-basis: 50%;
    padding-right: 50px;

    &:last-child {
      padding-right: 0;
    }
  }

  @include mq('mobileonly') {
    min-width: 100%;
    //margin-bottom: 30px;
  }
}

.content__title {
  font-family: 'Cervo Light';
  font-size: 30px;
  margin-top: 0;
  text-transform: uppercase;
}

.content__text {
  &_first { margin-top: 0; }
}

.content__subtitle {
  font-family: 'Cervo Light';
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0px;
  text-transform: uppercase;
}

.content__subtitle2 {
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.content__image {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  
  @include mq('desktop') {
    max-width: 700px;
  }
}

.prices {
  width: 70%;
  border-collapse: collapse;
  margin: 10px 0 30px 0;
  
  @include mq('desktop') {
    table-layout: fixed;
  }

  @include mq('mobileonly') {
    width: 100%;
  }
}
.prices__row {}
.prices__cell {
  border-right: 1px solid #ccc;
  text-align: left;
  padding: 10px 0 10px 2%;
  //font-size: 16px;
   &.prices__cell_th {
    font-family: 'Cervo Light';
    border-bottom: 1px solid #ccc;
    font-size: 20px;
   }

   &:last-child { border-right: none; }
}

.page-nav {
  list-style: none;
  margin: 20px 0 0;
  padding: 0;
}
.page-nav__li {}

.page-nav__link {
  color: $color-bg-lighter;
  text-decoration: none;
  border-bottom: 1px dashed $color-bg-lighter;
}

.content__list {
  padding: 0;
  margin: 0;
}

.content__li {
  margin-top: 10px;
  &_flex {
    display: flex;
    align-items: center;
  }
}

.student-name {
  min-width: 180px;
}

.inline-icon {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
  display: block;
  text-decoration: none;
  text-indent: -999px;
  overflow: hidden;
  margin-left: 20px;
  &_vk {
    background-image: url('../img/vk-bw-logo.svg');
  }
  &_fb {
    background-image: url('../img/fb-bw-logo.svg');
  }
  &_inst {
    background-image: url('../img/ig-bw-logo.svg');
  }
}
