@font-face {
	font-family: 'Cervo Light';
	src: url('../assets/Cervo-Light.eot');
	src: url('../assets/Cervo-Light.eot?#iefix') format('embedded-opentype'),
		url('../assets/Cervo-Light.woff') format('woff'),
		url('../assets/Cervo-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Cervo';
	src: url('../assets/Cervo-Regular.eot');
	src: url('../assets/Cervo-Regular.eot?#iefix') format('embedded-opentype'),
		url('../assets/Cervo-Regular.woff') format('woff'),
		url('../assets/Cervo-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}