.footer {
  background: linear-gradient(to right,  #f7901e 0%,#ee3931 25%,#e22c43 50%,#d32757 75%,#ab246c 100%,#7db9e8 100%);
  height: 120px;
  position: relative;

  @include mq('desktop') {
    //height: 230px;
    height: 360px;
  }
}

.footer__36 {
  //@extend .sprite;
  @extend .icon-small-logo;

  left: 0;
  position: absolute;
  top: 25px;

  @include mq('desktop') {}
}

.footer__adr {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;

  @include mq('mobileonly') {
    left: 70px;
    top: 15px;
  }

  @include mq('desktop') {
    bottom: 30px;
  }
}

.footer__adr-email {
  color: #000;
  text-decoration: none;
}

.widgets {
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 10px;
  max-width: 650px;
  display: none;

  @include mq('desktop') {
    display: flex;
    position: relative;
    left: 30px;
  }
  @include mq('desktop-large') {
    left: 0;
  }
}

.widget {
  &.widget_instagram {
    background: #fff;
    padding: 48px 2px 0;
    position: relative;

    &:before {
      content: "Мы в Instagram";
      position: absolute;
      top: 0;
      height: 47px;
      line-height: 47px;
      left: 0;
      right: 0;
      font-size: 16px;
      text-align: left;
      text-indent: 50px;
      font-weight: 600;

      background: {
        image: url(../img/instagram-logo.png);
        repeat: no-repeat;
        size: auto 50%;
        position: 15px 50%;
      }
    }
  }
}