.footer {
  background: linear-gradient(to right,  #f7901e 0%,#ee3931 25%,#e22c43 50%,#d32757 75%,#ab246c 100%,#7db9e8 100%);
  height: 120px;
  position: relative;

  @include mq('desktop-large') {
    //height: 230px;
    height: 360px;
  }
}

.footer__36 {
  //@extend .sprite;
  @extend .icon-small-logo;

  left: 0;
  position: absolute;
  top: 25px;

  @include mq('smallestonly') {
    display: none;
  }
}

.footer__adr {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 70px;
  top: 15px;

  //@include mq('mobileonly') { }
  @include mq('desktop-large') {
    top: auto;
    bottom: 30px;
    left: 0;
  }

  @include mq('smallestonly') {
    left: 0;
  }
}

.footer__adr-email {
  color: #000;
  text-decoration: none;
}

.widgets {
  display: none;

  @include mq('desktop-large') {
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 18px;
    width: 850px;
    display: flex;
    position: absolute;
    left: 50%;
    margin-left: -400px;
  }
}

.widget {
  width: 30%;

  &.widget_instagram {
    background: #fff;
    padding: 63px 0.5% 0;
    position: relative;
    width: 31%;
    height: 323px;

    &:before {
      content: "Мы в Instagram";
      position: absolute;
      top: 0;
      height: 47px;
      line-height: 47px;
      left: 0;
      right: 0;
      font-size: 16px;
      text-align: left;
      text-indent: 50px;
      font-weight: 600;

      background: {
        image: url(../img/instagram-logo.png);
        repeat: no-repeat;
        size: auto 50%;
        position: 15px 50%;
      }
    }
  }
}

.widget__full-link {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}