.header {
  height: 80px;
  background-color: $color-bg-dark;
  position: relative;
  z-index: 1;
  
  @include mq('desktop') {
    height: 100px;
  }

  @include mq('desktop-large') { 
    height: 132px;
  }
}

.logo {
  display: block;
  text-indent: -999px;
  overflow: hidden;
  height: 100%;
  position: absolute;
  left: 0;
  width: 150px;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-size: 150px auto;
  background-position: 0 15px;
  z-index: 1;
  
  @include mq('desktop') {
    width: 150px;
    background-size: 150px auto;
    top: 10px;
  }

  @include mq('desktop-large') {
    background-position: 0 29px;
    width: 245px;
    background-size: 245px 62px;
    top: 0;
  }
}

.nav {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
    
  @include mq('desktop') {
    min-width: 80%;
    margin-left: 20%;
    padding-top: 16px;
  }

  @include mq('desktop-large') {
    position: relative;
    padding-top: 32px;
    min-width: 75%;
    margin-left: 25%;
  }
}

%hamburger-line {
  width: 25px;
  height: 3px;
  background-color: $color-menu;
  left: 0;
}

.nav__toggle {
  right: 0;
  top: 17px;
  width: 44px;
  height: 44px;
  text-align: center;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
  span {
    @extend %hamburger-line;
    display: block;
    position: relative;
    
    &:before {
      position: absolute;
      content: "";
      top: -8px;
      @extend %hamburger-line;
    }
    &:after {
      position: absolute;
      content: "";
      top: 8px;
      @extend %hamburger-line;
    }
  }
  
  @include mq('desktop') {
    display: none;
  }
}

.menu {
  display: flex;
  flex-direction: column;  
  list-style: none;
  margin: 0;
  padding: 0;
  left: -20px;
  top: 80px;
  right: -20px;
  background-color: rgba(0, 0, 0, 0.8);
  
  @include mq('mobileonly') {
    position: absolute;
    // hide first running up animation
    max-height: 0;
    overflow: hidden;

    & br { display: none }
    
    &.menu_active {
      //max-height: 400px;
      @include fadeInDown();
      //z-index: 1;
    }
  
    &.menu_inactive {
      //max-height: none;
      //TODO: display: none breaks the "up" animation, need to figure out better way to hide the menu
      display: none;
      @include fadeOutUp();
      //z-index: -1;
    }  
  }
  
  // reset animation hiding
  &.menu_loaded {
    max-height: none;
    overflow: visible;
  }
  
  @include mq('desktop') {
    background-color: transparent;
    position: relative;
    flex-direction: row;
    top: 0;
    left: 0;
    right: 0;
  }
  
  // better to move to separate block?
  &.menu_sub {
    position: relative;
    left: 0;
    top: 0;
    right: auto;
    background-color: transparent;
    animation-name: none;
    
    @include mq('desktop') {
      display: none;
      background-color: rgba(0, 0, 0, 0.9);  
    }
  }
}

.menu__dropdown {
  @include mq('desktop') {
    position: absolute;
    top: 39px;
    padding-top: 45px;
    //left: -50px;
    left: 50%;  
    transform: translateX(-50%);
    width: 200px;

    &_level2 {
      left: 200px;
      top: -45px;
    }
  }

  @include mq('mobileonly') {
    &_level2 {
      padding-left: 15px
    }
  }

  @include mq('desktop-large') {
    top: 55px;
    &_level2 {
      width: 250px;
      top: -45px;
    }
  }
}

.menu__item {
  margin: 0 2%;
  width: auto !important;
  position: relative;
  text-align: center;
  
  &.menu__item_sub {
    margin: 0;
    text-indent: 20px;
    text-align: left;
    
    @include mq('desktop') {
      text-indent: 0;
    }
  }
  
  @include mq('desktop') {
    flex-grow: 1;
    margin: 0;

    &:hover > .menu__dropdown > .menu.menu_sub {
      display: block;
    }
  } 
}

.menu__link {
  color: $color-menu;
  text-decoration: none;
  line-height: 44px;
  font-size: 16px;
  display: block;
  padding: 0 15px;
  text-align: left;
  cursor: pointer;
  
  &.menu__link_home {

    @include mq('desktop') {
      background-image: url(../img/home.svg);
      max-width: 44px;
      background-repeat: no-repeat;
      background-size: auto 35px;
      text-indent: -999px;
      overflow: hidden;
      background-position: 50% 50%;
      padding: 0 10px;

      &:hover {
        background-color: transparent !important;
      }
    }
  }

  &.menu__link_converse {
    line-height: 34px;
  }

  &.menu__link_top:hover {
    background-color: lighten($color-bg-dark, 10%);
  }

  &.menu__link_sub {
    //font-size: 0.95em;
    line-height: 44px;

    @include mq('desktop') {
      &:hover {
        background-color: $color-bg-dark;
      }  
    }
  }
  
  @include mq('desktop') {
    line-height: 68px;
    font-size: 14px;
    padding: 0 6px;
    text-align: center;
  }

  @include mq('desktop-large') {
    font-size: 17px;
  }
}

.predzapis-bikram {
  @include mq('desktop') {
    margin-left: 10px;
    display: block;
    border: 2px solid #EF462E;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 20px;
    height: auto;
    font-size: 12px;
    margin-top: 10px;
    padding: 2px;
  }
}