.schedule-mobile {
  @include mq('desktop') {
    display: none;
  }
}

.b-content {
  display: block;

  .b-content-event {
    padding-top: 40px;
    position: relative;
    h1 {
      font-size: 16px;
      margin: 0 0 0;
      padding: 25px 0 10px;
    }

    border-bottom: 1px solid #ececec;
    padding-bottom: 0;

    &.b-content-event_active .e-description {
      display: block;
      font-size: 12px;
      margin: 0 0 15px;
    }
  }

  .e-time {
    position: absolute;
    top: 15px;
    left: 0;

    //* { display:none }
    //span:first-child { display:block }
  }

  .e-location {
    color: rgba(#000, 0.8);
    margin: 0 0 15px;
  }

  .e-description {
    display: none;
  }
}

.schedule-iframe {
  display: none;
  //border: 1px solid #ececec;

  @include mq('desktop') {
    display: block;
  }
}

.schedule-tabs {
  display: flex;
  margin-bottom: 20px;
}

.schedule-tab {
  border: 1px solid #ececec;
  cursor: pointer;
  font-size: 18px;
  padding: 5px 15px;
  //opacity: .5;
  color: #444;
  text-decoration: none;

  &_active {
    opacity: 1;
  }

  &#schedule-tab-rubik {
    background-color: #f8e1ec;
  }

  &#schedule-tab-vo {
    background-color: #fcdfc8;
  }

  &:last-child {
    border-left: none;
  }
}

.schedule-mobile-title {
  font-size: 18px;
  margin: 0 0 10px;
}