.slideshow {
  // overwrite slick
  margin-bottom: 0 !important;
  &.slideshow_inline {
    max-width: 700px;
    margin: 0 auto 50px !important;

    .slideshow__slide {
      height: 500px;
    }
  }
}

//.slideshow__img { max-width: 100%; }

.slideshow__slide {
  background: {
    size: cover;
    position: 50% 50%;
    repeat: no-repeat;
  }
  overflow: hidden;
  position: relative;
}

.slideshow__text {
	font-family: 'Cervo';
	display: block;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	position: absolute;
	text-shadow: 1px 1px 2px #444;
	
  @include mq('mobileonly') {
    font-size: 50px;
    line-height: 45px;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 10%;
	
    br { display: none }
  }
	
  @include mq('desktop') {
	font-size: 100px;
	line-height: 90px; 
	left: 62%;
	top: 35%;
  }
}

.slick-dots {
  bottom: 20px;
  
  li {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #fff;
      
    &.slick-active {
      background-color: #fff;
    }
	
	button:before { content: ""; }
  }
}

.slick-prev,
.slick-next {
  left: 0;
  width: 100px;
  height: 100%;
  top: 0;
  bottom: 0;
  height: auto;
  transform: translate(0);
  z-index: 1;
  opacity: 0.3;

  &:before {
    font-size: 44px;
  }
}

.slick-next {
  right: 0;
  left: auto;
}