.teachers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.teachers__teacher {
  //margin-right: 35px;
  cursor: pointer;
}

.teachers__name {
  font-size: 18px
}

.teachers__teacher__meta {
  overflow-y: auto;
}
.teachers__teacher__desc {
  display: none;
}