.teachers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.teachers__teacher {
  cursor: pointer;
  @include mq('mobileonly') {
    flex-basis: 48%;
    &:nth-child(2n+1) {
      margin-right: 4%;
    }
  }
}

.teachers__img {
  max-width: 250px;
  max-height: 250px;
  @include mq('mobileonly') {
    max-width: 100%
  }
}

.teachers__name {
  font-size: 18px
}

.teachers__teacher__meta {
  overflow-y: auto;
}
.teachers__teacher__desc {
  display: none;
}